[2018-10-02 21:26] owocki opened #1 "Puzzle solver"
http://bits.owocki.com/a9e410050f19/Screen%20Shot%202018-11-03%20at%206.47.08%20PM.png

[2018-10-02 21:26] owocki opened #2 "Visionary"
http://bits.owocki.com/d8129c217fc8/Screen%20Shot%202018-11-03%20at%206.46.23%20PM.png

[2018-10-02 21:26] owocki opened #3 "Solid Foundation"
http://bits.owocki.com/e170efa0e522/Screen%20Shot%202018-11-03%20at%206.44.52%20PM.png

[2018-10-02 21:26] owocki opened #4 "Beginners mind"
http://bits.owocki.com/8bd8e0edeaa0/Screen%20Shot%202018-11-03%20at%206.45.50%20PM.png

[2018-10-02 21:27] owocki opened #5 "Lucky charm"
http://bits.owocki.com/a776c7cb4800/Screen%20Shot%202018-11-03%20at%206.46.10%20PM.png

[2018-10-02 21:27] owocki opened #6 "Rocket ship"

[2018-10-02 21:27] owocki opened #7 "Red turtle shell"

[2018-10-02 21:54] owocki opened #8 "rockstar kudos"
# Title

rockstar

# Design Inspiration

<img src='http://bits.owocki.com/75bd6f3b06d6/sonic%20arcade.jpg'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

na

# Gen0 Owner Address

0x4331b095bc38dc3bce0a269682b5ebaefa252929

[2018-10-02 21:55] owocki opened #9 "magic unicorn"
# Title

magic unicorn

# Design Inspiration

<img src='https://i.ytimg.com/vi/jJJj099_Vdg/maxresdefault.jpg'>

# Down Payment

n/a

# Gen0 Owner Address

0x4331b095bc38dc3bce0a269682b5ebaefa252929

[2018-10-05 11:53] owocki opened #10 "i was told there'd be lambos"
# Title

I was told there'd be lambos

# Design Inspiration

http://bits.owocki.com/41010de437ba/Screen%20Shot%202018-10-05%20at%205.52.56%20AM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-05 11:53] owocki opened #11 "red stapler"
# Title

Red Stapler

# Design Inspiration

<img src="https://i.kym-cdn.com/photos/images/masonry/000/013/419/img_20051024_2.jpg">

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-05 16:48] owocki opened #12 "matsumura fishworks"
# Title

matsumura fishworks

# Design Inspiration

<img src=http://bits.owocki.com/dfafd6508e86/Screen%20Shot%202018-10-05%20at%209.47.52%20AM.png>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-05 16:48] owocki opened #13 "too much sugar"
# Title

too much sugar

# Design Inspiration

<img src='http://bits.owocki.com/e526f3bd5984/Screen%20Shot%202018-10-05%20at%209.48.29%20AM.png' >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-05 17:18] owocki opened #14 "shillin' like a villian"
# Title

shillin' like a villian

# Design Inspiration

<img src=http://bits.owocki.com/1529d2f823d1/Screen%20Shot%202018-10-05%20at%2010.18.04%20AM.png>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-05 20:55] owocki opened #15 "Zk snarks"
# Title

Zk snarks

# Design Inspiration

<img src='http://bits.owocki.com/0e1c080d7a69/Screen%20Shot%202018-10-05%20at%201.55.20%20PM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-05 21:39] owocki opened #16 "pioneer"
# Title

# Design Inspiration

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 16:03] owocki opened #17 "shillville"
# Title

ShillVille

# Design Inspiration

<img src='http://bits.owocki.com/28b91f18128c/Screen%20Shot%202018-10-06%20at%209.02.25%20AM.png'>

# Metadata

description: Their mouths will hang open a minute or two, Then the Shills down in Shillville will all cry HODL!
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 16:44] owocki opened #18 "atta' boy"
# Title

atta' boy

# Design Inspiration

<img src='http://bits.owocki.com/0b62003e4faf/Screen%20Shot%202018-10-06%20at%209.43.49%20AM.png'>

# Metadata

description: atta' boys are given to team members who are good at giving positive feedback
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 16:58] owocki opened #19 "master"
# Title

master

# Design Inspiration

<img src='http://bits.owocki.com/ebf0cb2d3ffa/Screen%20Shot%202018-10-06%20at%209.58.18%20AM.png' >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 16:58] owocki opened #20 "be the change"
# Title

be the cahnge

# Design Inspiration

<img src='http://bits.owocki.com/f27ab5ef24fc/Screen%20Shot%202018-10-06%20at%209.58.44%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:06] owocki opened #21 "hackerman"
# Title

hackerman

# Design Inspiration

https://www.youtube.com/watch?v=KEkrWRHCDQU

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:07] owocki opened #22 "honeybadger"
# Title

honeybadger

# Design Inspiration

http://bits.owocki.com/b930dcab055b/Screen%20Shot%202018-10-06%20at%2010.06.52%20AM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:07] owocki opened #23 "pepe"
# Title

pepe

# Design Inspiration

<img src='http://bits.owocki.com/157938bb904b/Screen%20Shot%202018-10-06%20at%2010.07.17%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:07] owocki opened #24 "nyan cat"
# Title

nyan cat

# Design Inspiration

<img src='http://bits.owocki.com/0919d5d57458/Screen%20Shot%202018-10-06%20at%2010.07.39%20AM.png' >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:11] owocki opened #25 "git-octocat"
# Title

git-octocat

# Design Inspiration

<img src='http://bits.owocki.com/44d075fb2635/Screen%20Shot%202018-10-06%20at%2010.11.11%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:12] owocki opened #26 "the rob boss"
# Title

the rob boss

# Design Inspiration

<img src=http://bits.owocki.com/504c34824958/Screen%20Shot%202018-10-06%20at%2010.12.18%20AM.png>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:13] owocki opened #27 "popcorn.gif"
# Title

popcorn.gif

# Design Inspiration

<img src='http://bits.owocki.com/280a7a5cd5c3/Screen%20Shot%202018-10-06%20at%2010.13.28%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:14] owocki opened #28 "firedog"
# Title

firedog

# Design Inspiration

<img src='http://bits.owocki.com/d11d7fa0bb7d/Screen%20Shot%202018-10-06%20at%2010.13.52%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:14] owocki opened #29 "trollolol"
# Title

trololo

# Design Inspiration

http://bits.owocki.com/f21812e83d8f/Screen%20Shot%202018-10-06%20at%2010.14.42%20AM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:15] owocki opened #30 "knockout punch"
# Title

knockout punch

# Design Inspiration

http://bits.owocki.com/17aeb05deae1/Screen%20Shot%202018-10-06%20at%2010.15.03%20AM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:15] owocki opened #31 "trap avoider"
# Title

trap avoider

# Design Inspiration

http://bits.owocki.com/4591ee291262/Screen%20Shot%202018-10-06%20at%2010.15.41%20AM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:16] owocki opened #32 "ford the river"
# Title

ford the river

# Design Inspiration

http://bits.owocki.com/9097af1e3e0b/Screen%20Shot%202018-10-06%20at%2010.16.24%20AM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:17] owocki opened #33 "philosorapter"
# Title

philorapster

# Design Inspiration

http://bits.owocki.com/ea3afcc13c63/Screen%20Shot%202018-10-06%20at%2010.16.48%20AM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:17] owocki opened #34 "doge"
# Title

doge

# Design Inspiration

<img src=http://bits.owocki.com/5cd4d3950ec3/Screen%20Shot%202018-10-06%20at%2010.17.12%20AM.png>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:17] owocki opened #35 "success kid"
# Title

success kid

# Design Inspiration

<img src='http://bits.owocki.com/3a5164ffb305/Screen%20Shot%202018-10-06%20at%2010.17.29%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:18] owocki opened #36 "i pity the fool"
# Title

i pity the fool

# Design Inspiration

<img src='http://bits.owocki.com/43a60191218b/Screen%20Shot%202018-10-06%20at%2010.17.51%20AM.png' >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:20] owocki opened #37 "dark kermit"
# Title

dark kermit

# Design Inspiration

<img src=http://bits.owocki.com/a886270a120f/Screen%20Shot%202018-10-06%20at%2010.18.50%20AM.png >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:21] owocki opened #38 "dramatic look praire dog"
# Title

dramatic look prairie dog

# Design Inspiration

<img src='http://bits.owocki.com/205b1caff5f4/Screen%20Shot%202018-10-06%20at%2010.20.36%20AM.png' >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:22] owocki opened #39 "peanut butter jelly time"
# Title

peanut buttter jelly time

# Design Inspiration

<img src='http://bits.owocki.com/1cfc6ba46100/Screen%20Shot%202018-10-06%20at%2010.22.38%20AM.png' >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:23] owocki opened #40 "rainbow"
# Title

rainbow

# Design Inspiration

<img src='http://bits.owocki.com/f2ecb8e8b836/Screen%20Shot%202018-10-06%20at%2010.23.05%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:24] owocki opened #41 "rickroll"
# Title

rickroll

# Design Inspiration

<img src=http://bits.owocki.com/05620f4e99d2/Screen%20Shot%202018-10-06%20at%2010.23.59%20AM.png>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:24] owocki opened #42 "carlos matos"
# Title

carlos matos

# Design Inspiration

<img src=http://bits.owocki.com/00a736f534b5/Screen%20Shot%202018-10-06%20at%2010.24.16%20AM.png>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 17:32] owocki opened #43 "functional programmer"
# Title

functional programmer

# Design Inspiration

<img src='http://bits.owocki.com/9743f2b0be1a/Screen%20Shot%202018-10-06%20at%2010.32.19%20AM.png' >

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:40] owocki opened #44 "SHIPL"
# Title

SHIPL

# Design Inspiration

<img src='http://bits.owocki.com/2c0b14bf3e0a/Screen%20Shot%202018-10-06%20at%2011.40.29%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:41] owocki opened #45 "BUIDL"
# Title

BUIDL

# Design Inspiration

<img src='http://bits.owocki.com/d893796d4a84/Screen%20Shot%202018-10-06%20at%2011.41.54%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:42] owocki opened #46 "write great specs"
# Title

write great specs

# Design Inspiration

<img src='http://bits.owocki.com/38eda07af1cc/Screen%20Shot%202018-10-06%20at%2011.42.15%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:44] owocki opened #47 "constructive cricitism"
# Title

constructive cricitism

# Design Inspiration

<img src='http://bits.owocki.com/0bfcd29cca13/Screen%20Shot%202018-10-06%20at%2011.44.06%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:45] owocki opened #48 "sounding board"
# Title

sounding board

# Design Inspiration

<img src='http://bits.owocki.com/666bd7a53e15/Screen%20Shot%202018-10-06%20at%2011.45.20%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:45] owocki opened #49 "auditor"
# Title

auditor

# Design Inspiration

<img src='http://bits.owocki.com/37762166a019/Screen%20Shot%202018-10-06%20at%2011.45.42%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:46] owocki opened #50 "cyberpunk af"
# Title

cyberpunk af

# Design Inspiration

<img src='http://bits.owocki.com/796d8dc6fd08/Screen%20Shot%202018-10-06%20at%2011.46.23%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:49] owocki opened #51 "steampunk"
# Title

steampunk

# Design Inspiration

<img src='http://bits.owocki.com/694799b7ebda/Screen%20Shot%202018-10-06%20at%2011.49.08%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:49] owocki opened #52 "ethical"
# Title

ethical

# Design Inspiration

<img src='http://bits.owocki.com/99f7330e388f/Screen%20Shot%202018-10-06%20at%2011.49.45%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-06 18:50] owocki opened #53 "good listener"
# Title

good listener

# Design Inspiration

<img src='http://bits.owocki.com/f9273931a7f4/Screen%20Shot%202018-10-06%20at%2011.50.08%20AM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-07 15:06] owocki opened #54 "vitalika"
# Title

vitalika

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-07 16:13] owocki opened #55 "great shitposter"
# Title

great shitposter

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-07 20:30] owocki opened #56 "ipfs"
# Title

ipfs

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 02:40] owocki opened #57 "Bounties power users"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 02:40] owocki opened #58 "3box power user"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 02:40] owocki opened #59 "Moksha"
# Title

Moksha

# Design Inspiration

<img src='https://pbs.twimg.com/profile_images/709515876970713089/HgiQGAAL_400x400.jpg'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 04:07] owocki opened #60 "atta boy"
# Title

atta boy

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 04:13] owocki opened #61 "party parrot"
# Title

party parrot

# Design Inspiration

<img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABaCAMAAAAIGK1gAAABhlBMVEWI/4nwaPjvaWp8jGgREREAAAD49YqH//7wjIqN/46K/4vzarr0a2zwcfEADQAACwCj/Yr4+IX0rMSAkWsIAAj8bf8QDRAABQAACAj2av4MAAz0rsIAAAX//I7z9ZCn/d6Z/YpermBbZU50NXihR0npcHHh94l01HXxaqzvaX6tzc3t94kLEAuC8YP/b3D10Zjzd7SH/r3xi5cqSSttxm5jcFNGTTvyf8Hf3XxAcUB95n7HWJhXoliLU1J44d9MMkEhIRZQJlM3NyG

[2018-10-08 04:18] owocki opened #62 "meme master"
# Title

meme master

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:52] owocki opened #63 "- Creative Cat"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:52] owocki opened #64 "helping others"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:52] owocki opened #65 "mentor"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:52] owocki opened #66 "honest"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/74f0a6a1c91a/Screen%20Shot%202018-11-03%20at%206.27.16%20PM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:52] owocki opened #67 "humble"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:52] owocki opened #68 "empathetic"
# Title

# Design Inspiration

http://bits.owocki.com/a97ba0b11869/Screen%20Shot%202018-11-03%20at%206.27.48%20PM.png

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:52] owocki opened #69 "give first"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #70 "proactive"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #71 "challenge status quo"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #72 "Research genius"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #73 "Caring"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #74 "Good Listener"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #75 "Agile teacher"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #76 "Pragmatic"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #77 "grow open source"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #78 "connector (people)"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/1407b041a966/Screen%20Shot%202018-11-03%20at%206.33.12%20PM.png'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #79 "Invited a friend"
# Title

# Design Inspiration

<img src='http://thorntons-recycling.ie/wp-content/uploads/2016/10/thorntons-refer-a-friend.jpg'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #80 "Git Spirit"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:53] owocki opened #81 "Anniversary"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:54] owocki opened #82 "Community"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:54] owocki opened #83 "OG Gitcoin"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:54] owocki opened #84 "Holiday theme"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-08 15:54] owocki opened #85 "mentor"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

description:
rarity:
priceFinney:
numClonesAllowed:
tags:

# Down Payment

# Gen0 Owner Address

[2018-10-23 17:13] craigwilliams84 opened #86 "Kauri Pioneer"
# Title
Kauri Pioneer

# Design Inspiration
Kauri brand colours and logo
https://www.dropbox.com/sh/s9ahgtv0myzjxyu/AACrJLjiTMbTag9Nzd99dCBAa?dl=0
- 0BA986 - Primary
- 1E3D3B
- 1E2428

Backpacker with little kauri logo on backpack walking towards the Kauri tree.

<img src='http://thehillary.co.nz/wordpress/wp-content/uploads/2014/01/Kauri-Dieback-Logo.png'>
<img src='https://api.beta.kauri.io:443/

[2018-10-23 17:17] craigwilliams84 opened #87 "Web3 Advocate"
# Title
Web3 Advocate

# Design Inspiration
Kauri brand colours and logo
https://www.dropbox.com/sh/s9ahgtv0myzjxyu/AACrJLjiTMbTag9Nzd99dCBAa?dl=0
- 0BA986 - Primary
- 1E3D3B
- 1E2428

Ethereum logo with connected lines with Kauri logo

<img src='https://api.beta.kauri.io:443/ipfs/QmXGcBkV1mykbuket7jaq5Y2rpBA3xJVisJpcgz2Zsmb1x'>

# Metadata

description: Out with the old and in with the new! Kudos

[2018-10-24 00:29] #60 closed

[2018-10-24 15:00] MladenPetronijevic commented on #86
Hi Craig I just made the kudos
![untitled](https://user-images.githubusercontent.com/41165756/47440386-58450600-d7ae-11e8-97f1-13e4d8c2d041.png)

[2018-10-24 15:02] MladenPetronijevic commented on #87
![untitled](https://user-images.githubusercontent.com/41165756/47440481-8d515880-d7ae-11e8-8ad4-d066731983ab.png)

[2018-10-24 16:30] craigwilliams84 commented on #86
Hey Mladen, me and the rest of the team love these designs.  Awesome work!

[2018-10-24 18:07] MladenPetronijevic commented on #86
@craigwilliams84 rly glad you like them! ill add these to repo right away

[2018-10-29 15:04] owocki opened #88 "the flirterer"
# Title

the flirterer

# Design Inspiration

<img src='http://bits.owocki.com/3eeda08a2ee5/Screen%20Shot%202018-10-29%20at%204.03.48%20PM.png'>

Please add a joint in his hand.
And have him with a speech bubble with a `$` in it

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-10-29 15:09] owocki opened #89 "your bounty is bad and you should fill bad"
# Title

your bounty is bad and you should fill bad

# Design Inspiration

<img src='http://bits.owocki.com/1262633a0ffc/Screen%20Shot%202018-10-29%20at%204.08.34%20PM.png'>

text should says 'your bounty is bad and you should fill bad' instead o the text on the meme

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-10-30 21:58] kuhnchris commented on #89
Basically this eh?
https://vignette.wikia.nocookie.net/d128d2c2-f691-444a-b46b-0a263c910aae/scale-to-width-down/800

and, whyever you would have it say "fill bad", but eh:
https://imgflip.com/i/2lchhb

[2018-11-03 17:02] owocki opened #90 "Gosh darn it people like you"
# Title

Gosh darn it people like you

# Design Inspiration

<img src='https://lh3.googleusercontent.com/-2T_ZYjLhbcc/Wi0tEkn4BmI/AAAAAAAAUGU/jS7l90WFVSsya4OzqljhAtMCv0j1vWlpgCHMYCw/w1200-h630-p-k-no-nu/%255BUNSET%255D'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-03 17:02] owocki opened #91 "scarlett letter"
# Title

https://i2.wp.com/ecx.images-amazon.com/images/I/51TLdZuC%2BnL.jpg

# Design Inspiration

just the A part of this, not the text
<img src='https://i2.wp.com/ecx.images-amazon.com/images/I/51TLdZuC%2BnL.jpg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-03 17:39] owocki opened #92 "problem solver"
# Title

# Design Inspiration

<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVmjF8hxrOb5cfO86izTNw54Smed0xoxu50KqLnVdCZ2PQM39ydg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-03 17:40] owocki opened #93 "great questions"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/52270e1cd4e9/Screen%20Shot%202018-11-03%20at%206.40.31%20PM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-03 17:41] owocki opened #94 "enthusiasm"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/876fa6d36eaa/Screen%20Shot%202018-11-03%20at%206.40.50%20PM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-03 17:41] owocki opened #95 "having fun"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/42e81f98f837/Screen%20Shot%202018-11-03%20at%206.41.42%20PM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-03 17:42] owocki opened #96 "tech savvy"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/f2aa2dc11fb1/Screen%20Shot%202018-11-03%20at%206.41.56%20PM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-03 17:42] owocki opened #97 "leader"
# Title

# Design Inspiration

http://bits.owocki.com/3826a47f7169/Screen%20Shot%202018-11-03%20at%206.42.48%20PM.png

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-04 04:00] owocki opened #98 "first bounty completed"
# Title

# Design Inspiration

<img src='https://ae01.alicdn.com/kf/HTB151BXlUl7MKJjSZFDq6yOEpXab/FIRST-BIRTHDAY-DECORATION-SET-for-Boy-Girl-1st-Birthday-Party-Blue-Happy-Birthday-Bunting-Banner-Gold.jpg_640x640.jpg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-04 04:01] owocki opened #99 "first three bounties"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/d0337c4065ee/Screen%20Shot%202018-11-04%20at%205.01.14%20AM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-04 09:23] owocki opened #100 "top 5 leaderboard"
# Title

# Design Inspiration

<img src='https://thetokenpost.com/wp-content/uploads/2018/01/top-5-900x570.jpg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-04 09:25] owocki opened #101 "gold trophy, silver trophy, bronze trophy"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/028694bae3bd/Screen%20Shot%202018-11-04%20at%209.24.58%20AM.png'>
i'd like one in gold, one in silver, one in bronze

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-04 11:23] owocki opened #102 "opportunity finder"
# Title

# Design Inspiration

<img src='http://bits.owocki.com/0661369c5360/Screen%20Shot%202018-11-04%20at%2011.23.10%20AM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-09 22:06] owocki opened #103 "serial shiller"
# Title

# Design Inspiration

serial killer , but someone shilling instead of killing

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-12 16:44] owocki opened #104 "vision kudos"
# Title

You know who hasn’t gotten a kudos yet but deserves one? Joe Lubin

I’m thinking either “ultimate backer” rare kudos or “vision” rare kudos would be cool to mint for him

# Design Inspiration

something cypberpunk-ey that shows his vision.

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-12 18:06] owocki opened #105 "cypherpunk kudos"
per convo on slack, i would like 5 HIGH QUALITY cypherpunk kudos

[2018-11-13 02:10] owocki opened #106 "beautiful mind"
https://twitter.com/owocki/status/1062041792965574656

for when someone has a radiant mind

[2018-11-13 19:15] owocki opened #107 "captain kudos"
# Title

captain kudos

# Design Inspiration

<img src='https://hips.hearstapps.com/del.h-cdn.co/assets/17/28/480x477/gallery-1499972972-captain-crunch.jpg?resize=480:*'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-13 19:16] owocki opened #108 "captain twerk"
# Title

Captain Twerk

# Design Inspiration

<img src='http://trekfest.org/wp-content/uploads/2018/03/captain-kirk.jpg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-13 20:13] mariapaulafn commented on #108
Name: KirkKudos
Description: The United Federation of Crypto Planets needs to make a Captain Kirk Kudos happen, for that interplanetary star that does not fear to fix those Khan bugs.
We want a Captain Kirk Kudos set to make history. We want it to transcend the #ShatnerHODL. We want devs from all over the Universe to share this Kudos as a token of utmost leadership in a project.

[2018-11-14 06:01] owocki opened #109 "logical"
# Title

logical

# Design Inspiration

<img src='https://i.ytimg.com/vi/Iu1qa8N2ID0/hqdefault.jpg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-15 20:14] owocki opened #110 "ultimate backer"
the ultimate backer is someone who's the ultimate support for your project

this is inspired by [joe lubin](https://www.google.com/search?q=inspired+by+joe+lubin&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjFztmam9feAhWSEnwKHXRjCjwQ_AUIDygC&biw=1440&bih=686)

[2018-11-15 21:57] camronlevanger opened #111 "Make Big Bucks"
# Title

Make Big Bucks

# Design Inspiration

<img src='https://avatars3.githubusercontent.com/u/6947?s=400&v=4'>

# Metadata

name: Make Big Bucks
description: When an unknown journalist finds your personal contact info, calls you up and then publishes a low-quality article taking your comments out of context, you, my friend, qualify for the Make Big Bucks Kudo
priceFinney: 1
numClonesAllowed: 1

[2018-11-16 17:46] owocki opened #112 "the kyle burke"
# Title

kyle burke

# Design Inspiration

<img src='https://www.videoanddj.com/static/sitefiles/images/983d0628-ef71-47da-9cce-717a0d857dec.jpeg'>

this guy but with long hair and regular glassses not sunglasess

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-28 17:31] owocki commented on #111
pushing this over to our designer now @camronlevanger

[2018-11-29 18:03] MladenPetronijevic commented on #111
![image](https://user-images.githubusercontent.com/41165756/49241886-70d9b900-f409-11e8-87dc-50e4cef05fbe.png)

[2018-11-29 21:19] owocki commented on #111
@camronlevanger how does the above look!?

[2018-11-29 22:38] camronlevanger commented on #111
@owocki I love it! It would be great if we could incorporate a $ sign in there somewhere. In retrospect I should have included that in the issue, but I'm not sure I knew until I saw it. It's looking good though!

[2018-11-29 22:39] nbanmp opened #115 "Christmas Creator"
# Title

 * Christmas Creator

# Design Inspiration

<img src='http://www.clipartpanda.com/clipart_images/xmas-christmas-tree-5-png-1268212/download'>
A Christmas tree. Have fun with it!

# Metadata

name: Christmas Creator
description: Santa skips over your town because you do all the good work for him!
priceFinney: 300
numClonesAllowed: 10
tags: Christmas, holiday

# Down Payment

https://ethers

[2018-11-29 22:41] owocki commented on #115
@MladenPetronijevic could we get this one prioritized soon?

[2018-11-29 22:53] nbanmp opened #116 "Santa's Elf"
# Title

Santa's Elf

# Design Inspiration

<img src='http://jeremyvarner.com/blog/wp-content/uploads/2015/12/christmaself.jpg'>
Some sort of Christmas elf! However you want to do it.

# Metadata

name: Santa's Elf
description: The best elf Santa's seen! The kids will absolutely LOVE your toys!
priceFinney: 200
numClonesAllowed: 50

tags:
 - Christmas
 - Santa
 - holidays

# Down Payment

https://

[2018-11-29 23:05] nbanmp opened #117 "Grammar Programmer"
# Title

Grammar Programmer

# Design Inspiration

<img src='https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Flisaswritopia.com%2Fwp-content%2Fuploads%2F2015%2F07%2Fsingle-quotation-mark-wikimedia-commons.png&f=1'>

# Metadata

name: Grammar Programmer
description: Not only did you fix the code, you also fixed that comment that no one noticed!
priceFinney: 50
numClonesAllowed: 1000
tags:
 - spellin

[2018-11-30 15:48] owocki opened #118 "Merry Kudosmas"
# Title

Merry Kudosmas

# Design Inspiration

<img src='https://image.freepik.com/free-vector/merry-christmas-illustration_23-2147527653.jpg'>

but put some kudos in santas bag

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-30 21:59] owocki opened #119 "maintainer king crown"
# Title

maintainer king crown
https://twitter.com/backus/status/1068597124844072960

# Design Inspiration

<img src='https://i.pinimg.com/originals/b1/a0/5e/b1a05ef5faa56d493055ff88275b3d06.jpg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-30 22:43] owocki opened #120 "inspector"
# Title

inspector

# Design Inspiration

<img src='https://pbs.twimg.com/profile_images/1026136840422785024/ISDgjFlH_400x400.jpg'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-11-30 22:58] owocki opened #121 "crypto winter"
# Title

crypto winter

# Design Inspiration

<img src='http://bits.owocki.com/ee33957a7da9/Screen%20Shot%202018-11-30%20at%203.56.59%20PM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-12-03 14:24] owocki opened #122 "narwhal"
# Title

narwhal

# Design Inspiration

<img src='http://bits.owocki.com/98e12200008b/Screen%20Shot%202018-12-03%20at%207.23.47%20AM.png'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-12-03 15:42] MladenPetronijevic commented on #111
![untitled](https://user-images.githubusercontent.com/41165756/49384008-60cc1d00-f71a-11e8-9fdd-774cf7ef6a56.png)

[2018-12-03 15:42] MladenPetronijevic commented on #111
@camronlevanger could something like this work?

[2018-12-03 21:15] camronlevanger commented on #111
Yes, that's great. Thanks @MladenPetronijevic!

[2018-12-03 21:37] owocki commented on #111
thanks @MladenPetronijevic can you add to the repro

[2018-12-03 21:37] MladenPetronijevic commented on #111
@owocki sure thing

[2018-12-03 21:49] DJViau opened #123 "OpenSea Salty Dog"
# Title
OpenSea Salty Dog

# Design Inspiration
<img src='https://pbs.twimg.com/profile_images/988983240458305538/KNIW8ufg_400x400.jpg'>

<img src='http://www.actionoutdoors.kiwi/WebRoot/ecshared01/Shops/ActionFishing/5812/CC57/400D/D056/0D6D/AC10/003F/4A76/1SaltyDog-ActionOutdoors.kiwi.JPG'>

<img src='http://keywest.saltydog.com/img/logo-dk.png'>

# Metadata
name: OpenSea Salty Dog
description:

[2018-12-04 16:36] owocki opened #124 "bufficorn kudos badges"
please take this artwork

http://bits.owocki.com/cb3fb8d40098/reethdenvergitcoinassetsfortrialartwork.zip

and make the following 4 kudos, each of which will have a SPONOR brand combined with the bufficorn, doing something cool:
- skiing
- climbing a mountain
- skating
- at [red rocks concert center in colorado](https://www.google.com/search?q=red+rocks+in+colorado&source=lnms&tbm=isch&sa=X&ved=0a

[2018-12-05 14:03] Kisgus opened #125 "cryptozmas.xyz <> kudos"
# Existing Kudos images we would love to list as "unique" for the Venezuela campaign"

#42 Carlos Matos
#116 Santa's Elf
#118 Merry Kudosmas
#84 Holiday Theme

## Unique versus Rare Christmas Card NFTs

cryptoxmas operate with 2 types of Cards

1. **Unique** customized in collaboration with Dapps,organizations/individuals

1.  **Rare** generated by users either by a) solving small image bounties a

[2018-12-05 14:31] owocki commented on #125
very excited for this @Kisgus -- what do you need from us to make it happen?  we can prioritize the artwork for the kudos you specified above if you want

[2018-12-06 01:38] Kisgus commented on #125
Great to feel your excitement :) I have chatted about the minting process with Scott, and provided him and address you can forward the minted Kudos to. I will also PM it to you. We will then integrate into https://app.cryptoxmas.xyz/

## Kudos

If you have any ideas I would love support in the off-chain world to connect with the coolest dapps/organizations/individuals in the Ethereum space to work

[2018-12-06 15:21] MladenPetronijevic commented on #116
![image](https://user-images.githubusercontent.com/41165756/49593049-f366f900-f972-11e8-8c3b-97a32f96f753.png)

[2018-12-06 15:22] MladenPetronijevic commented on #84
![image](https://user-images.githubusercontent.com/41165756/49593083-0da0d700-f973-11e8-9b36-3826436a6ca6.png)

[2018-12-06 15:22] MladenPetronijevic commented on #124
![image](https://user-images.githubusercontent.com/41165756/49593123-1db8b680-f973-11e8-99eb-2694ef6a4207.png)

[2018-12-06 16:14] owocki commented on #124
POA, Maker, ConsenSys, Status, Opolis, The Graph, NCC, Skale Labs, Clearmatics

@MladenPetronijevic here are the sponsors that we want to make kudos for (all bufficorn branded).  let me know if we can do them all on this ticket, or if you want seperate tickets

[2018-12-06 18:55] nbanmp commented on #116
Looks awesome!

[2018-12-06 19:29] owocki commented on #116
okie dokie @MladenPetronijevic pls commit to the reop

[2018-12-06 19:29] owocki commented on #116
*repo

[2018-12-07 02:37] owocki commented on #84
looks good to me @MladenPetronijevic pls put on the repo

[2018-12-07 03:06] owocki commented on #125
Those all sound great.. Thanks for your comment about Gitcoin bounties :) I hope it goes well, but if you have any Q's scott and I are here to help!

RE: Kudos Christmas Cards, thats actually something that one of the Gitcoin ambassadors has been building too.  https://gitcoinambassadors.github.io/KudoKards/ I can connect you guys if you want.

BTW check the referenced Github issues.  Our designer

[2018-12-07 10:53] MladenPetronijevic commented on #116
@owocki sure thing

[2018-12-07 10:54] MladenPetronijevic commented on #84
@owocki coming right away

[2018-12-07 10:56] MladenPetronijevic commented on #124
@owocki we can do it all on this one

[2018-12-07 18:53] owocki commented on #124
@MladenPetronijevic great that sounds okay to me... pls treat the creation of 4 more of these as a high priority:

lets start with these ones:
* Maker, ConsenSys, Status, Opolis

[2018-12-07 19:05] MladenPetronijevic commented on #124
@owocki kk, i'll start working on those could you send me the vector files of those logos, i have the opolis one saved

[2018-12-07 20:02] MladenPetronijevic commented on #124
![untitled](https://user-images.githubusercontent.com/41165756/49669987-69e32400-fa63-11e8-8144-cbca13fbb6d6.png)

[2018-12-07 20:08] MladenPetronijevic commented on #124
![untitled](https://user-images.githubusercontent.com/41165756/49670234-49679980-fa64-11e8-9b30-728a26a09a27.png)

[2018-12-07 21:41] owocki commented on #124
nice ill ask john for feedback!

[2018-12-07 22:44] PixelantDesign opened #126 "Livestreamer"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

name: Livestreamer
description:  Livestreamers are making' noise and sharing their blood, sweat, and tears with the Ethereum community.
priceFinney: 1
numClonesAllowed: 54
to_address:
tags: ethereum, livestream, share, promoter, buidl, open source

# Down Payment

# Gen0 Owner Address

[2018-12-07 22:51] owocki opened #127 "austin griffith bowtie"
# Title

austin griffith bowtie

# Design Inspiration

https://twitter.com/austingriffith/status/1071075739473108992

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-12-08 22:36] owocki opened #128 "alchemist"
# Title

alchemist

# Design Inspiration

take the ethos of the mad scientist badge that mladen delivered and make an alchemist one

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-12-08 22:37] owocki commented on #128
perhaps this could even feature our resident alchemist @austintgriffith on it, if he is so obliged.

[2018-12-08 22:49] MladenPetronijevic commented on #124
![image](https://user-images.githubusercontent.com/41165756/49691489-d59cbe00-fb43-11e8-8768-4f66cb873df1.png)
![image](https://user-images.githubusercontent.com/41165756/49691491-d9c8db80-fb43-11e8-866c-6d2665a031a2.png)

[2018-12-10 14:02] owocki commented on #124
@MladenPetronijevic some feedback from the event organizer for ETHDenver:

[2018-12-10 14:51] MladenPetronijevic commented on #124
@owocki kk, will make tha changes later today

[2018-12-10 16:42] owocki opened #129 "show me what you got"
# Title

show me what you got

# Design Inspiration

<img src='https://media.giphy.com/media/26DOs997h6fgsCthu/giphy.gif'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-12-10 16:54] owocki commented on #124
more colorado ideas:

- hiking a 14er
- snowboarding
- going to a craft brewery
- mountain biking
- road biking
- sunset watching in the mountains
- snowmobiles
- [frozen dead guy days](https://t.co/ThhB4RCbVH)
- rock climbing
- visiting a marijuhana dispensary

@MladenPetronijevic more colorado ideas for the remaining sponsors !

[2018-12-10 17:01] c-o-l-o-r opened #130 "competition of 12 days of bounties challenge"
# Title
Chief Holiday Officer

# Design Inspiration

<img src='https://previews.123rf.com/images/hasloo/hasloo1510/hasloo151000187/46723262-santa-claus-using-smartphone-calling-phone-or-texting-a-message-closeup-portrait.jpg'>

# Metadata

name: Chief Christmas Officer
description: By completing all 12 holiday themed bounties in 2018, this user has certified themselves in a class of their own. The

[2018-12-10 18:07] MladenPetronijevic commented on #124
![untitled](https://user-images.githubusercontent.com/41165756/49751869-e1f15a00-fcae-11e8-9502-9702f7233f49.png)

[2018-12-10 18:14] MladenPetronijevic commented on #124
Tried to add the logos of the sponsors, and added some rope on the opolis one not sure if it helps i can try to add legs and arms on the Golden Elipses

[2018-12-10 19:41] owocki commented on #130
@MladenPetronijevic if its not too late id love to make this one a priority for this week

[2018-12-10 20:05] MladenPetronijevic commented on #130
@owocki kk, i'll set it as priority

[2018-12-10 21:52] owocki commented on #124
From John at Opolis.. "Still Looks Less like its climbing and more like its hanging --- can we try the legs and arms, either that or substitute it into another activity?"

[2018-12-11 13:47] MladenPetronijevic commented on #124
![untitled](https://user-images.githubusercontent.com/41165756/49804751-b4aab780-fd53-11e8-9447-355a360d9534.png)

[2018-12-11 13:49] MladenPetronijevic commented on #124
maybe something like this could work, if not i can try to fit it in another activity

[2018-12-11 20:41] owocki opened #131 "shut up and take my money"
# Title

shut up and take my money

# Design Inspiration

<img src='https://i.ytimg.com/vi/OnB1TgxgwEA/hqdefault.jpg'>

pls make the dollar bills have an eth logo on them

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-12-11 22:07] owocki commented on #111
https://gitcoin.co/kudos/807/make_big_bucks

[2018-12-11 22:08] owocki commented on #123
https://gitcoin.co/kudos/806/open_sea_salty_dog

[2018-12-12 19:55] owocki commented on #125
@Kisgus can you please reach out to me privately so i can send you some of these Kudos to put on the cryptoxmas.xyz site?

cc @ceresstation the kudos are ready

[2018-12-12 19:55] #125 closed

[2018-12-12 21:39] owocki commented on #124
from jon : we need a Casa Bonita Diver Bufficorn sticker

[2018-12-13 03:25] owocki opened #132 "superhero"
# Title

superhero

# Design Inspiration

https://www.google.com/search?q=superhero&source=lnms&tbm=isch&sa=X&ved=0ahUKEwji4av17ZvfAhVm6oMKHctiDksQ_AUIDigB&biw=1440&bih=682&dpr=2
# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2018-12-13 22:56] owocki commented on #124
Maker Space: Live Art, Art Installation, IOT, Jam Space
Art Gallery: Self explanatory
Food Trucks: Self Explanatory
Shill Colorado: You got this one.
Chill Room: Bufficorn chillin' on beanbag hacking. Example art in folder with him sleeping.

[2018-12-15 05:35] owocki opened #133 "ethdenver christmas kudos"
please take this artwork

http://bits.owocki.com/cb3fb8d40098/reethdenvergitcoinassetsfortrialartwork.zip

and make an kudos that has a bufficorn unwrapping christmas presents with it's family on christmas

some inspiration images https://www.google.com/search?q=unwrapping+presents&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjCruDHjqHfAhXCIjQIHaXKB54Q_AUIDigB&biw=1920&bih=898&dpr=2

[2018-12-20 16:19] MladenPetronijevic commented on #124
![untitled](https://user-images.githubusercontent.com/41165756/50296735-6dbb7100-047b-11e9-91e8-10a85e358d09.png)

[2018-12-21 00:06] MladenPetronijevic commented on #130
![image](https://user-images.githubusercontent.com/41165756/50317589-afb8d700-04bc-11e9-812e-817460f90035.png)

[2018-12-21 16:16] owocki commented on #124
@MladenPetronijevic here is the vector logos for the remaining sponsors! http://bits.owocki.com/d726ab7ae2ab/Archive.zip

hopefully we can get all the kudos drafts done by the end of the month.  is that possible?

[2018-12-21 18:07] owocki commented on #130
@c-o-l-o-r look ok?  we can mint it today

[2018-12-24 18:05] MladenPetronijevic commented on #124
@owocki sure thing, i think i can manage it

about these ones maker space, art gallery and rest those should be illustrated with bufficorn and without sponsors?

[2018-12-26 12:42] wasbend opened #134 "iExec Kudos - Series 1"
Hello, we'd like to have 2 kudos for iExec:

- The 1st one would be a general supporter kudo.

- The 2nd one would be for participants in the recent iExec Workerdrop 3 (a 24h infrastructure testing event)

# iExec Supporter

Design inspiration (kudo 1 in the archive):
https://wetransfer.com/downloads/c18ab8c3aa4ab5b72a8beb386ae58f1120181226120527/a5c63efe21a6e1e1d56ca600b2e23a3120181226120527/4366

[2018-12-26 13:56] owocki commented on #134
nice we'll add that to the TODO list for our artist.. he's a little backed up so it might be a week or two. is that okay?

also, mind sending another 0.3 ETH payment for the 2nd kudos?

[2018-12-26 14:34] wasbend commented on #134
Thanks for your swift reply. The first kudo is already designed by our illustrator, that why I've only sent 0.3. Should I make a second transfer nonetheless?

[2018-12-26 16:19] owocki commented on #134
ah ok.. nah thats fine

[2018-12-26 19:02] owocki commented on #124
yes thats right.  those won't have sponsors on them

[2019-01-02 08:52] wasbend commented on #134
Hello, here's a new link to download the files I shared (since the last link just expired) :

https://we.tl/t-XLDGFiw7No

Can you please download it to avoid a similar situation?

[2019-01-02 13:04] owocki commented on #134
@MladenPetronijevic see above, can we work on these next pls?

[2019-01-02 13:05] owocki commented on #134
another copy of the files http://bits.owocki.com/19263c299ca1/kudos-iExec.zip

[2019-01-02 13:07] MladenPetronijevic commented on #134
@owocki sure thing, i'm on it

[2019-01-05 08:32] abitrolly opened #136 "PSF Supporter"
# Title
* PSF Supporter

For the lack of a better name and for sake of a serious matter.

# Design Inspiration

Python logo as-is.

<img src='https://www.python.org/static/img/python-logo.png'>

# Metadata

ex:

description (varchar, up to 500 characters -- no profanity): Preserving Pythons in the wild. Donated to Python Software Foundation.

Finney?

Clones or badges? More than 5k - https://legac

[2019-01-07 20:13] owocki commented on #136
thx were on it!

[2019-01-10 07:39] Swader opened #137 "Nimbus"
# Title

Nimbus

# Design Inspiration

<img width="1500" alt="header" src="https://user-images.githubusercontent.com/1430603/50952970-44a66300-14b2-11e9-83d4-4cf69d6e34e7.png">

# Metadata

name: Nimbus Contributor
description: You contributed to the next-gen Ethereum 2.0 client: Nimbus.
priceFinney: 50
numClonesAllowed: 50
to_address: 0x04bb33C3A8c2D018836a1f938054Ebb59e0036B2
tags: nimbus, ether

[2019-01-10 07:41] Swader commented on #137
I have already designed the assets for this, so not sure if the payment is required? If possible, can I submit another one (into the same issue) for the same deposit? I would like two in total, also asset already designed (just needs to be cropped into the image).

[2019-01-10 08:07] Swader opened #138 "Solidity + Vyper"
Two requests, funding for both sent in one TX.

# Title

Solidity Pro

# Design Inspiration

![](https://solidity.readthedocs.io/en/v0.4.21/_images/logo.svg)

# Metadata

name: Solidity Pro
description: Awarded for a having a notable portfolio of Solidity content, or contributing to the Solidity languge itself.
priceFinney: 200
numClonesAllowed: 100
to_address: 0x4dA2e85D64bEcE663CCaB06E89B970b6b0

[2019-01-10 15:39] owocki commented on #137
cool can you post the asset you designed to this ticket pls?

[2019-01-10 22:13] owocki opened #139 "video game themed kudos"
http://bits.owocki.com/3736a29db14e/Screen%20Shot%202019-01-10%20at%203.12.43%20PM.png

[2019-01-10 22:58] owocki opened #140 "First grant funded"
# Title

First grant funded

# Design Inspiration

maybe a gitcoin bot planting a flag with the grants logo on the top of a mountain?

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2019-01-17 17:08] CPSTL opened #141 "Canada Meetup Hacker Badge"
# Title

This badge is for kickoff of the first ever Gitcoin Canada Meetup

# Design Inspiration

Combine a Canadian Maple leaf or a Canadian flag with the Gitcoin logo with a developer on their computer

# Metadata

50 Kudos, 0.02 ETH, and rare/opensource tags

[2019-01-18 15:06] owocki commented on #134
@wasbend thanks for the bump @MladenPetronijevic can we bump this up on the priority list?

[2019-01-21 20:31] MladenPetronijevic commented on #134
![untitled](https://user-images.githubusercontent.com/41165756/51497594-dfad1000-1dc3-11e9-9ffd-ac1aafa3863b.png)
 for iExec Pionner

[2019-01-22 08:38] wasbend commented on #134
Awesome, really like it! Let's move forward with this design :)

[2019-01-23 07:35] Swader commented on #137
Sweet, thanks!

[2019-01-23 15:49] MladenPetronijevic commented on #134
@owocki sure thing i'll send them on slack

[2019-01-23 23:45] owocki commented on #137
slated for deploy tomorrow; commit 2b2026e53b6cabe0c7962ce551210641041f6dbc

[2019-01-23 23:45] owocki commented on #134
slated for deploy tomorrow; commit 2b2026e53b6cabe0c7962ce551210641041f6dbc

[2019-01-24 10:40] MladenPetronijevic commented on #134
![untitled](https://user-images.githubusercontent.com/41165756/51672819-b8755f00-1fcc-11e9-827d-b88cadd81c95.png)

is this how the iexces supporter should look

[2019-01-24 10:58] wasbend commented on #134
Thank you! Let's move forward with this one as well.

[2019-01-24 15:01] owocki opened #142 "john paller wants more kudos awards for ethdenver"
List of awards he wants:

ETHDenver 2019: Spirit of #BUIDL
ETHDenver 2019: Bufficorn's Best
ETHDenver 2019: People's Choice
ETHDenver 2019: Best Media Headline
ETHDenver 2019: Best for Ethereum
ETHDenver 2019: Highest "WOW" Factor
ETHDenver 2019: Most Innovative
ETHDenver 2019: Adoption Driver
ETHDenver 2019: Runner Up
ETHDenver 2019: Impact Track Finalist
ETHDenver 2019: Open Track Finalist

Thes

[2019-01-24 18:36] Swader commented on #137
Ahh, should it be? If not, I'm good with the way it is.
But I wanted two Kudos - see OP. The Pilot one is the one with wings, and the contributor one is the one you set as pilot. Can we get that fixed and get them both out the door please?

[2019-01-24 18:48] owocki commented on #137
oh my bad. yeah we can fix that.

[2019-01-24 19:13] owocki commented on #134
https://gitcoin.co/kudos/1107/nimbus_pilot
https://gitcoin.co/kudos/1151/nimbus_contributor

[2019-01-24 19:13] owocki commented on #137
https://gitcoin.co/kudos/1107/nimbus_pilot
https://gitcoin.co/kudos/1151/nimbus_contributor

[2019-01-24 19:21] Swader commented on #137
Close but no cigar :) The original has different metadata - 50 finney and 50 units max, not 10k. It's supposed to be more prestige given it'll be given to people who helped us kickstart eth2.0 with their contributions. Fixable?

[2019-01-25 00:21] lrgeoemtry opened #143 "HummingBird (The HeadSpace - EthDenver)"
# Title

# Design Inspiration

<img src='https://github.com/AnthemGold/Brand-Assets/blob/master/Hummingbird%20Love.jpg'>

# Metadata

name: Humingbird Love (TheHeadspace.net)
description: You embody Love, Speed, and Determination. When it comes to code you are as nimble as a hummingbird.
priceFinney: 20
numClonesAllowed: 200
to_address: (not sure, just use standard)
tags:
 - EthDenver
 - The Heads

[2019-01-25 00:21] lrgeoemtry commented on #143
did i do this right?

[2019-01-25 00:26] lrgeoemtry opened #144 "The Journey Begins (The Headspace)"
# Title
REQUIRED - What is the title of your Kudos? ex:
* The Journey Begins
* TheHeadspace.net

# Design Inspiration
REQUIRED - Please *embed* any images that should be used as inspiration for your kudos in this file.
ex: <img src='https://foo.com/bar/path_to_image.png'

<img src=https://github.com/AnthemGold/Brand-Assets/blob/master/The%20Journey%20Begins.jpg>

# Metadata

OPTIONAL, but encourag

[2019-01-25 07:34] Swader commented on #137
@owocki also the images in the marketplace are the same for both (and the rockstar one is failing to load)

![image](https://user-images.githubusercontent.com/1430603/51731641-f087ab00-207b-11e9-96c1-d07b110fd5e9.png)

[2019-01-25 15:44] owocki commented on #137
fixing now

[2019-01-25 16:20] owocki commented on #137
https://gitcoin.co/kudos/1158/nimbus_contributor
https://gitcoin.co/kudos/1157/nimbus_pilot

3rd time is a charm.. i hope !

[2019-01-25 17:32] Swader commented on #137
Going to have to be a fourth time.
Description is wrong on Pilot, and the metadata.

So here goes, both badges, with image and metadata (modified Contributor max count to 500).

## Nimbus Contributor

![](https://user-images.githubusercontent.com/1430603/51039327-5de40800-15b5-11e9-8eaf-c02e2f0d1c12.png)

name: Nimbus Contributor
description: You contributed to the next-gen Ethereum 2.0 client: Ni

[2019-01-25 17:40] owocki commented on #137
Ugh, sorry.   Re-minting now

[2019-01-25 17:42] owocki commented on #137
https://gitcoin.co/kudos/1161/nimbus_contributor
https://gitcoin.co/kudos/1160/nimbus_pilot

[2019-01-25 18:59] Swader commented on #137
Perfect, thank you!

[2019-01-25 21:23] MladenPetronijevic commented on #142
![image](https://user-images.githubusercontent.com/41165756/51773648-c7a0fd80-20ef-11e9-8977-a0a3cf97b76d.png)

[2019-01-25 21:58] owocki commented on #142
ok i talked to john

for all 10 of the images, we were thinking that we’d do 10 small permutations on top of the above image..

- some where bufficorn is on the right, some on left.
- switch out the trophy (and image on the trophy) according to which trophy its for.
- maybe change the bufficorns facial expression / clothes
- You could also use the other bufficorn designs that are in the folder. Ju

[2019-01-26 20:33] Thapanawat003 opened #145 "charcoal"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2019-01-26 20:46] Thapanawat003 commented on #145
3683508

[2019-01-26 21:02] Thapanawat003 opened #146 "Thapanawat"
# Title

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2019-01-26 21:03] Thapanawat003 commented on #146
3683508

[2019-01-26 21:13] Thapanawat003 commented on #145
[biztorich.biz](url)

[2019-01-26 21:13] Thapanawat003 commented on #145
Duplicate of #

[2019-01-27 14:40] sriharikapu opened #147 "Sustainability"
# Sustainability

# Design Inspiration

<img src='https://github.com/sriharikapu/kudosbadges/blob/master/images/Sustainycopy.png?raw=true'>

# Metadata

name: Sustainability
description: I would like to encourage everyone to support Sustainable lifestyle. This Kudos badge can help people recognize and appreciate the efforts of each other by sending the badge to their friends as a token of apprecia

[2019-01-27 16:47] sriharikapu opened #148 "livepeer"
# livepeer

Livepeer is creating a scalable Platform as a Service for developers who want to add live or on-demand video to their project. Please check out [livepeer](https://livepeer.org/) for more..

# Design Inspiration

<img src='https://github.com/sriharikapu/kudosbadges/blob/master/images/Livepeer.png?raw=true'>

# Metadata

name: Livepeer
description: peer to peer video streaming
priceFinne

[2019-01-27 17:42] sriharikapu opened #149 "Swarm Developer"
# Swarm Developer

Swarm is a decentralized p2p storage & hosting service running on top of Ethereum blockchain. Swarm acts as a peer-to-peer storage and servicing solution that has zero downtime, fault-tolerant, and censorship-resistant, and self-sustaining due to a built-in incentive system.

# Design Inspiration

<img src='https://github.com/sriharikapu/kudosbadges/blob/master/images/Swarm.png?

[2019-01-27 17:51] sriharikapu opened #150 "Swarm Expert"
# Swarm Expert

Swarm is a decentralized p2p storage & hosting service running on top of Ethereum blockchain. Swarm acts as a peer-to-peer storage and servicing solution that has zero downtime, fault-tolerant, and censorship-resistant, and self-sustaining due to a built-in incentive system.

# Design Inspiration

<img src='https://github.com/sriharikapu/kudosbadges/blob/master/images/SwarmRare.png

[2019-01-27 18:01] sriharikapu commented on #147
@owocki Hey! Kevin, Is there a way to skip the payment part of this.? I have quite a lot of good designs coming up. And there are a lot of them, can we decrease the price for listing the badges. 0.4 ETH way expensive for listing. Please consider reducing it.  @gitcoinbot @SaptakS @ceresstation @ryan-shea @thelostone-mc

[2019-01-27 19:09] sriharikapu commented on #142
Is there a bounty on this.? Can I help in the design? @owocki
![statuso](https://user-images.githubusercontent.com/6247133/51805573-fe227800-22a9-11e9-9edf-fc6d95f12633.png)

![statusi](https://user-images.githubusercontent.com/6247133/51805576-0bd7fd80-22aa-11e9-8834-f843a24cd37b.png)

[2019-01-27 23:41] owocki commented on #142
@sriharikapu theres no bounty no,

1. have you seen the design style guide at https://github.com/gitcoinco/kudosbadges
2. i like what you've done so far :) but we've already got a designer slated for this
3. does any of the tickets in the todo column of https://github.com/gitcoinco/kudosbadges/projects/1 look good to you?

[2019-01-27 23:43] owocki commented on #147
@sriharikapu 0.4 ETH is for us creating a kudos design for you !  happy to do it for 0.01 ETH each (just enough to cover gas costs :P ) considering you're contributing designs?

can you make sure to include .svgs for each kudos?  right now all the kudos on the system are svgs!

[2019-01-28 00:36] owocki commented on #146
pls reopen when youve filled out the template

[2019-01-28 00:36] #146 closed

[2019-01-28 01:32] sriharikapu commented on #147
@owocki  I had added the SVG URL for this. You can [find it here.](https://github.com/sriharikapu/kudosbadges/blob/master/images/sustain0.svg)

[2019-01-28 01:59] owocki commented on #147
ok thanks.

1. are the images for the other 4 kudods you requested in there?
2. mind PRing back to this repo with all the images you want for all 4, and edit the kudos.yaml with the info in the 'metadata' for each?

[2019-01-28 05:07] Thapanawat003 commented on #146
Thx

[2019-01-28 06:39] sriharikapu commented on #147
@owocki Please refer to the PR: [151](https://github.com/gitcoinco/kudosbadges/pull/151)

[2019-01-28 14:18] sriharikapu commented on #147
Dear Kevin @owocki

1. I included all the SVG's as requested.
2. PRing is done, awaiting merge.

[2019-01-28 17:09] MladenPetronijevic commented on #142
![image](https://user-images.githubusercontent.com/41165756/51853134-da9e1280-2327-11e9-9750-303ac561ebd2.png)

[2019-01-28 19:41] awallendahl opened #152 "Red bull wings kudos"
# Title

Wings

# Design Inspiration

Red bull gives you wings
http://mywings.redbull.com/us-en

# Metadata

name: Wings
description: 8 red bulls and 3 integrations later you've got wings!
priceFinney: 5
numClonesAllowed: 100
to_address: 0x5A2a64F7e9C820069378DF45288E593b6768447a
tags: ethereum, hacker, eth, redbull, red bull, wings, integration

# Down Payment

https://etherscan.io/tx/0x894de5e11

[2019-01-28 20:51] owocki commented on #142
feedback from john

1. change 'ethdenver' to say ETHDENVER '19
2. lets add a little variety to what the bufficorn is doing.  you can use the assets in the drive folder ( Nerd guy, tophat/monicle, music, jumping, etc. )

[2019-01-28 22:19] MladenPetronijevic commented on #142
![untitled](https://user-images.githubusercontent.com/41165756/51870185-24e8b900-2353-11e9-8b93-2ab1150a6486.png)

[2019-01-29 02:11] lrgeoemtry commented on #144
<3 @owocki

[2019-01-29 02:11] lrgeoemtry commented on #143
<3 @owocki

[2019-01-29 14:09] senvik commented on #142
Love the variety! The Open Track Finalist and Impact Track Finalist are almost like sister awards for the top finishers in each category. Does it make sense for them to have the same Bufficorn design?

[2019-01-29 18:07] MladenPetronijevic commented on #152
![untitled](https://user-images.githubusercontent.com/41165756/51929681-11902900-23f9-11e9-9606-a38b06cf09e8.png)
could something like this work

[2019-01-29 19:02] awallendahl commented on #152
More of a reference to red bull would be great if possible
On Tue, Jan 29, 2019 at 1:07 PM MladenPetronijevic <notifications@github.com>
wrote:

[2019-01-29 19:44] MladenPetronijevic commented on #152
![untitled](https://user-images.githubusercontent.com/41165756/51935637-a3526300-2406-11e9-909a-7c89a4d5b396.png)

[2019-01-29 19:46] awallendahl commented on #152
Awesome work. Thank you!
On Tue, Jan 29, 2019 at 2:44 PM MladenPetronijevic <notifications@github.com>
wrote:

[2019-01-29 22:48] vs77bb opened #153 "Liberal Radical"
# Timeline

Latest, by 2/15. Ideally, closer to 2/1 when we launch this promotion.

# Title

Liberal Radical

# Design Inspiration

<img src='xxxxxxxxxxxxx'>

https://radicalxchange.org/
![image](https://user-images.githubusercontent.com/23297747/51945626-15f61b00-23d4-11e9-81c3-84ed634238f6.png)

# Metadata

This Kudos to a Liberal Radical who contributed to CLR matching.

name: liberalradical
de

[2019-01-30 15:30] owocki opened #154 "do you want to make a kudos"
# Timeline

whenever

# Title

do you want to make a kudos 🎶

# Design Inspiration

https://www.youtube.com/watch?v=V-zXT5bIBM0

[2019-01-30 18:12] MladenPetronijevic commented on #143
hi, i'll help with designing the kudos, i cant seem to open the link for inspiration image not sure why

[2019-01-30 21:32] owocki opened #155 "consensys 2.0"
# Timeline

whatever

# Title

consensys 2.0

# Design Inspiration

http://bits.owocki.com/4abd2f416603/Screen%20Shot%202019-01-30%20at%202.32.09%20PM.png
the consensys logo, but with a big "2.0" above it

# Metadata

name:
description:
priceFinney:
numClonesAllowed:
to_address:
tags:
 - tag1
 - tag2

# Down Payment

# Gen0 Owner Address

[2019-01-30 21:33] owocki commented on #155
tag @blopblop1 when done

[2019-01-30 22:12] owocki commented on #143
@MladenPetronijevic heres the inspiration image https://github.com/AnthemGold/Brand-Assets/blob/master/Hummingbird%20Love.jpg

[2019-01-31 10:35] MladenPetronijevic commented on #153
something like this?
![untitled](https://user-images.githubusercontent.com/41165756/52048705-5678a480-254c-11e9-8cca-b38242b0a0e4.png)

[2019-01-31 10:56] MladenPetronijevic commented on #155
![untitled](https://user-images.githubusercontent.com/41165756/52049738-cb4cde00-254e-11e9-993e-b586db123fd9.png)

[2019-01-31 10:57] MladenPetronijevic commented on #155
@blopblop1

[2019-01-31 11:03] MladenPetronijevic commented on #142
like this?
![untitled](https://user-images.githubusercontent.com/41165756/52050254-44990080-2550-11e9-8146-69f1aef2570a.png)

[2019-01-31 12:40] blopblop1 commented on #155
That's amazing - thank you!

On Thu, Jan 31, 2019 at 5:57 AM MladenPetronijevic <notifications@github.com>
wrote:

[2019-01-31 15:40] senvik commented on #142
Yeah! Looks awesome. Those two should be the only ones that have that design. Thank you!

[2019-01-31 16:08] owocki commented on #142
cool @senvik @MladenPetronijevic can we get the final svgs this week?  any other changes needed from here?

[2019-01-31 16:15] owocki commented on #155
@MladenPetronijevic svg me pls!

[2019-01-31 17:37] owocki commented on #144
@MladenPetronijevic use this as inspiration image https://github.com/AnthemGold/Brand-Assets/blob/master/The%20Journey%20Begins.jpg

[2019-01-31 18:13] owocki commented on #155
https://gitcoin.co/kudos/1352/consensys_2_0

[2019-01-31 18:13] owocki commented on #152
https://gitcoin.co/kudos/1350/wings

[2019-01-31 18:14] owocki commented on #153
https://gitcoin.co/kudos/1349/liberal_radical

[2019-01-31 19:01] lrgeoemtry commented on #144
its cool it hasn't been already, but please ensure this is around for ethdenver <3 @owocki & @MladenPetronijevic

[2019-01-31 19:02] lrgeoemtry commented on #143
its cool it hasn't been already, but please ensure this is around for ethdenver <3 @owocki & @MladenPetronijevic

[2019-01-31 23:15] MladenPetronijevic commented on #155
@blopblop1 thanks! im rly glad you like it!

[2019-01-31 23:19] MladenPetronijevic commented on #143
@lrgeoemtry sure thing, i was thinking about making drafts for both headspace kudos tomorrow during the day

[2019-02-01 13:05] MladenPetronijevic commented on #143
![untitled](https://user-images.githubusercontent.com/41165756/52124713-6b2b6a00-262a-11e9-8490-f77141719bc2.png)
@lrgeoemtry

[2019-02-01 13:52] MladenPetronijevic commented on #144
![untitled](https://user-images.githubusercontent.com/41165756/52126969-0a536000-2631-11e9-910f-c17173d2a1be.png)
@lrgeoemtry

[2019-02-01 13:59] MladenPetronijevic commented on #138
![untitled](https://user-images.githubusercontent.com/41165756/52127253-dc225000-2631-11e9-8285-bf0cf138860b.png)
@Swader could something like this work?

[2019-02-01 14:16] MladenPetronijevic commented on #136
![untitled](https://user-images.githubusercontent.com/41165756/52128076-42a86d80-2634-11e9-9a54-8f878eb28bac.png)
@abitrolly

[2019-02-01 14:23] abitrolly commented on #136
Nice. But I don't see how it can be used to award people who donated to PSF and not just given to people who know Python.

[2019-02-01 14:47] abitrolly commented on #136
On Fri, 1 Feb 2019 at 17:28, MladenPetronijevic <notifications@github.com>
wrote:

other. Edge carrying ETH address.

[2019-02-01 17:52] owocki commented on #136
Is 0xa463e312f508d519b1c15d65d6744ede1d302587 the ETH address to put on the side of it?

[2019-02-02 00:04] lrgeoemtry commented on #144
oooo, so you can't just take the actual art? @owocki / @MladenPetronijevic ?

[2019-02-02 00:05] lrgeoemtry commented on #143
i like it but the actual art is preferred since its one of our artists that made it and is a significant part of our brand.

[2019-02-02 00:09] lrgeoemtry commented on #143
i just feel like our brand isn't properly represented through an adaptation of the art

[2019-02-02 00:09] owocki commented on #143
we can do that.  @MladenPetronijevic do you mind making their actual inspiration image into a hex in the kudos-style?

and the art you already did (which i think is amazing BTW), lets figure out how to just make it into an artwork about Ethereum (maybe make the focal point an Ethereum logo instead of the humming bird!)..

[2019-02-02 00:10] lrgeoemtry commented on #143
:) thank you @owocki  i think you understand since you have some of the clothing <3

[2019-02-02 00:10] owocki commented on #144
we can do that.  @MladenPetronijevic do you mind making their actual inspiration image into a hex in the kudos-style?

and @MladenPetronijevic  the art you already did for this (which i think is amazing BTW), lets figure out how to just make it into an artwork about Ethereum (maybe we can replace the 'spiderweb' with some sort of constellation of ethereum dapp logos like Metamask / Infura / Truffl

[2019-02-02 00:11] lrgeoemtry commented on #143
i totally love it @MladenPetronijevic , the rendition _is_ amazing. but thank you for understanding :)

[2019-02-02 08:57] Swader commented on #138
Yes, quite, very nice 👍

[2019-02-03 09:47] MladenPetronijevic commented on #143
@lrgeoemtry @owocki sure thing, no problem i'll fix it quickly

[2019-02-03 11:46] abitrolly commented on #136
The address of a person who donated. In the most simple case if I donated from this address, then yes.

[2019-02-03 16:04] MladenPetronijevic commented on #143
![untitled](https://user-images.githubusercontent.com/41165756/52179058-d36a7f00-27d5-11e9-8b75-db2dfc517fcd.png)

[2019-02-03 16:16] MladenPetronijevic commented on #144
![untitled](https://user-images.githubusercontent.com/41165756/52179190-7243ab00-27d7-11e9-9176-d7a9924630aa.png)

[2019-02-08 13:57] lrgeoemtry commented on #143
PERFECT! <3 <3

[2019-02-08 13:58] lrgeoemtry commented on #143
please deploy for ethdenver @owocki

[2019-02-08 13:58] lrgeoemtry commented on #144
amaze. please deploy for eth denver @owocki  <3

[2019-02-08 13:59] lrgeoemtry commented on #144
hey @owocki , sorry but using the artwork other than for the headspace can't happen as we license it from the artists, same for the humming bird =\

[2019-02-08 14:01] lrgeoemtry commented on #144
if the bottom side bar can say **TheHeadSpace.net** like how you have Gitcoin on some this would be the best template for more incoming HeadSpace / Gitcoin Kudos collabs <3

[2019-02-08 18:38] owocki commented on #138
@Swader
https://gitcoin.co/kudos/1425/vyper_pro
https://gitcoin.co/kudos/1419/solidity_pro

[2019-02-08 19:18] Swader commented on #138
Amazing, thanks!

[2019-02-08 19:18] #138 closed

[2019-02-08 19:30] owocki commented on #144
https://gitcoin.co/kudos/1421/the_journey_beginstheheadspacenet

[2019-02-08 19:30] owocki commented on #143
https://gitcoin.co/kudos/1420/hummingbird_love_theheadspacenet

[2019-02-09 16:32] lrgeoemtry commented on #144
This wasnt deployed with

@owocki

[2019-02-09 23:08] owocki commented on #144
@lrgeoemtry i see two descriptions / clones/ etc in the ticket.. i assume you want the other one from what i used?

[code]

[2019-02-09 23:19] owocki commented on #144
https://gitcoin.co/kudos/1440/the_journey_begins(theheadspace.net)

[2019-02-09 23:59] owocki opened #156 "BOUNTY - Create a Kudos SVG and earn 30 DAI!"
This is a bounty to create a Kudos for the [Gitcoin Kudos Marketplace](https://gitcoin.co/kudos).

## to create a new Kudos

0. If you are creating a Gitcoin-funded kudos, [email us](mailto:founders@gitcoin.co) to negotiate a rate for your artwork.  Please include your portfolio link.  If you are going the Self Sovereign route, skip this step and proceed to next step.
1. Checkout the latest [kudos

[2019-02-10 01:00] owocki commented on #156
hey @mehul0698 great to see you again!  got a creative portfolio i can checkout?

[2019-02-10 02:07] lrgeoemtry commented on #144
my bad dude, i kept the original example wompwomp. thanks for the fix! @owocki <3

[2019-02-10 16:40] owocki opened #157 "Trekkie Bot"
# Timeline

# Title

Trekkie Bot

# Design Inspiration

[star trek original](https://www.google.com/search?biw=960&bih=946&tbm=isch&sa=1&ei=4lNgXM-oIKiI0wLIg6_oAg&q=star+trek+original&oq=star+trek+original&gs_l=img.3..0l10.1649.2138..2297...0.0..0.95.688.8......1....1..gws-wiz-img.phoQhZ1QjYI) combined with
and [gitcoin robots](https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots

[2019-02-10 16:43] owocki commented on #143
adding this back to backlog for hte task of re-using Mladens art for an Ethereum themed Kudos.

[2019-02-10 16:43] owocki commented on #144
adding this back to backlog for hte task of re-using Mladens art for an Ethereum themed Kudos.

[2019-02-11 02:38] owocki opened #158 "Moloch"
# Timeline

Moloch

# Title

Moloch

# Design Inspiration

https://www.google.com/search?q=moloch&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjSkpKQy7LgAhX7IjQIHU2MDOAQ_AUIDigB&biw=1280&bih=698#imgrc=nqRzz5YcBud8kM:

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-02-11 03:19] owocki commented on #156
@dvdptr just approved u!

[2019-02-11 04:04] mehul0698 commented on #156
@owocki as I am new to this I don't have a portfolio.

[2019-02-11 16:59] owocki commented on #156
just approved a few of you.. looking forward to seeing how this comes out :)

[2019-02-12 19:51] #158 closed

[2019-02-14 00:26] owocki opened #159 "The Joe-ker"
# Timeline

# Title

The Joe-ker

# Design Inspiration

https://i0.wp.com/img09.deviantart.net/7340/i/2015/106/9/a/joker_card___harley_quinn_cosplay__injustice__by_sylunahirokashi-d7szxun.jpg
but please make the face [joe lubin](https://www.google.com/search?q=joe+lubin&tbm=isch&source=iu&ictx=1&fir=L5VUZUujJ1IWAM%253A%252CenXglIfq_TbhPM%252C%252Fg%252F11c6ccht_w&usg=AI4_-kRlWn5cY7h9GygOGk6A64nDfE

[2019-02-18 14:43] owocki commented on #156
thanks for your submissions. i will be reviewing this week!

[2019-02-18 20:00] mehul0698 commented on #156
@owocki I have added 2 kudos #164 #163

[2019-02-19 22:18] #107 closed

[2019-02-19 22:21] #131 closed

[2019-02-19 22:22] #117 closed

[2019-02-19 23:44] owocki opened #166 "blue spikey shell"
# Timeline

# Title

blue spikey shell

# Design Inspiration

https://www.google.com/search?q=blue+spiny+shell&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjDxdGD_cjgAhUlpIMKHRKAD40Q_AUIDygC&biw=1440&bih=680

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-02-22 12:09] j0ker1234 commented on #156
@owocki is this issue still open?

[2019-02-22 13:58] MladenPetronijevic commented on #141
@CPSTL
![untitled](https://user-images.githubusercontent.com/41165756/53246960-5afb2d80-36b2-11e9-86cf-7d3f750fc7f7.png)

[2019-02-22 13:59] MladenPetronijevic commented on #141
could something like this work?

[2019-02-22 15:28] owocki commented on #156
@j0ker1234 @yash412 sure i'd love to do some more work with you!

[2019-02-22 15:45] owocki commented on #109
@MladenPetronijevic can you attach yours

[2019-02-22 15:45] owocki commented on #24
https://gitcoin.co/kudos/1838/nyan_cat

[2019-02-22 15:45] owocki commented on #129
https://gitcoin.co/kudos/1837/show_me_what_you_got

[2019-02-22 18:46] CPSTL commented on #141
@MladenPetronijevic Yes! It is perfect. Thank you 🥇

[2019-02-22 20:08] j0ker1234 commented on #156
@owocki I have added 3 kudos. Please review them once. #169

[2019-02-22 23:40] owocki commented on #141
@MladenPetronijevic CSV pls

[2019-02-22 23:41] owocki commented on #141
@CPSTL got any copy we should put in the kudos desc?  is the title the same as the github thread?

[2019-02-22 23:41] owocki commented on #109
@MladenPetronijevic SVG pls

[2019-02-22 23:41] owocki commented on #159
@MladenPetronijevic SVG pls

[2019-02-22 23:41] owocki commented on #136
@MladenPetronijevic SVG pls

[2019-02-22 23:45] owocki commented on #110
inspiration
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK2Y_9fVm9W3e5I-_ToHmtSmpai16CDfY0IEcQ1kqptMum1nGI
https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Castelo_da_Feira.jpg/220px-Castelo_da_Feira.jpg

[2019-02-25 04:50] nasehim7 commented on #159
@owocki Hey! I will be working on this one :D

[2019-02-25 04:50] nasehim7 commented on #166
@owocki Will be working on this and upload the badge soon.

[2019-02-25 07:58] emiwatanabe422 commented on #156
Hey @owocki are we supposed to be earning ETH from our badges being purchased?

[2019-02-25 12:34] yash412 commented on #156
Hey @owocki, any specific ones you'd like me to work on or I'll just take my pick from the list?
(Sorry for the delay, was out for a small vacation!)

[2019-02-25 16:21] owocki commented on #136
hey @MladenPetronijevic the SVG you gave me doesnt match the designs above https://gitcoin.co/kudos/1887/psf_supporter

can you send me the SVG for designs above

[2019-02-25 16:21] owocki commented on #141
https://gitcoin.co/kudos/1886/canada_hacker_meetup

[2019-02-25 16:22] owocki commented on #109
https://gitcoin.co/kudos/1889/logical

[2019-02-25 16:22] MladenPetronijevic commented on #136
sure thing

[2019-02-25 17:09] #33 closed

[2019-02-25 17:09] #110 closed

[2019-02-25 17:09] #139 closed

[2019-02-25 17:09] #132 closed

[2019-02-25 17:12] owocki commented on #156
@emiwatanabe422 if you put your address as the `to_address` in the YAML file yes you can earn ETH as they are purchased!

i think that @austintgriffith https://github.com/gitcoinco/kudosbadges/issues/127 would be a cool one to start with.

as is https://github.com/gitcoinco/kudosbadges/issues/105

[2019-02-25 17:12] owocki commented on #156
@yash412
i think that @austintgriffith https://github.com/gitcoinco/kudosbadges/issues/127 would be a cool one to start with.

as is https://github.com/gitcoinco/kudosbadges/issues/105

[2019-02-25 17:21] owocki commented on #159
@nasehim7 looks like @MladenPetronijevic already tackled it!

[2019-02-25 17:45] nasehim7 commented on #159
Ahh How come I didn't see that, my bad :/

[2019-02-25 18:12] willsputra opened #171 "Gitcoin Torchbearer"
# Timeline
# Title
Gitcoin Torchbearer

# Design Inspiration
[Olympic torchbearer
](https://www.google.com/search?q=olympic+torchbearer&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiYt5_hvdfgAhXQdn0KHdVxCOYQ_AUIDigB&biw=1680&bih=948&dpr=2
)
# Metadata
[code]
# Down Payment
# Gen0 Owner Address

[2019-02-25 18:14] willsputra commented on #171
![gitcointorch](https://user-images.githubusercontent.com/19514207/53358781-2fa36780-396c-11e9-80ea-4329725cdb27.png)

[2019-02-25 18:22] owocki commented on #171
can i has svg @willsputra

[2019-02-25 22:46] yash412 commented on #156
Hey @owocki , I have designed  and uploaded 3 Kudos and made a PR ( #173 ).
Please review and let me know!

PS, at 30$/Kudos, you owe me 90$ if you like them!

[2019-02-25 23:18] owocki commented on #156
just paid you :) keep it up

On Mon, Feb 25, 2019 at 3:46 PM Yash Mathne <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<ht

[2019-02-25 23:25] owocki commented on #106
live on https://gitcoin.co/kudos/marketplace/

[2019-02-25 23:25] owocki commented on #171
live on https://gitcoin.co/kudos/marketplace/

[2019-02-26 09:50] yash412 commented on #156
Hey @owocki  & @thelostone-mc , just added three new Kudos.
Let me know what you think of them and approve the PR ( #174 ).
Thanks.

[2019-02-26 16:21] j0ker1234 commented on #156
@owocki I have added 3 more kudos designs. Please review them. #175

[2019-02-26 18:42] #40 closed

[2019-02-26 18:42] #66 closed

[2019-02-26 18:42] #120 closed

[2019-02-26 18:42] #122 closed

[2019-02-26 20:15] MladenPetronijevic commented on #140
![untitled](https://user-images.githubusercontent.com/41165756/53443269-962b9280-3a0b-11e9-8870-2c312503b212.png)

[2019-02-26 20:27] MladenPetronijevic commented on #128
svg

[2019-02-26 20:28] owocki commented on #140
looks good to me.  can i have the svg pls @MladenPetronijevic ?

[2019-02-26 20:29] owocki commented on #128
svg http://bits.owocki.com/94de1367e30f/Archive%202019-02-26%20at%201.29.50%20PM.zip

[2019-02-26 20:32] owocki commented on #140
http://bits.owocki.com/6d9d35cef68c/first_grant_funded.svg

[2019-02-27 13:41] CPSTL commented on #141
@owocki Amazing. Looking forward to sharing this special kudos to the meetup attendees today 👍

[2019-02-27 14:46] owocki commented on #141
cool.  i set it so that only you can send it!

[2019-02-27 17:03] owocki commented on #128
https://gitcoin.co/kudos/marketplace/

[2019-02-27 17:03] #128 closed

[2019-02-27 17:03] owocki commented on #140
https://gitcoin.co/kudos/marketplace/

[2019-02-27 17:03] #140 closed

[2019-02-27 19:16] owocki opened #176 "go go power rangers"
# Timeline

# Title

go go power rangers

# Design Inspiration

https://static3.srcdn.com/wordpress/wp-content/uploads/Power-Rangers-Alpha-Zords1.jpg

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-02-27 21:01] yash412 commented on #156
Hey @owocki , just added new kudos. Please approve the PR (  #177 ) thanks! :')

[2019-02-28 16:40] owocki commented on #156
closing this bounty for now :)  i will pay out any lingering PRs.  thanks everyone who participated!

[2019-02-28 16:43] j0ker1234 commented on #156
@owocki Ihave made 3 more designs. Should I put a pr?
Was working on them for 2 days.

[2019-02-28 16:57] j0ker1234 commented on #156
@owocki there was an error in one of the kudos as the image for that kudos was not mentioned so I have corrected that also, so please accept the pull request.

[2019-02-28 18:57] yash412 commented on #156
hey @owocki was working on one badge before you closed it!
Please review the PR ( #179 ) thanks! :D

[2019-03-02 09:42] yash412 commented on #156
@owocki  & @thelostone-mc please review the PR thanks!

[2019-03-04 14:44] j0ker1234 commented on #156
@owocki please review the PR #178 thanks.

[2019-03-04 23:20] #78 closed

[2019-03-04 23:20] #79 closed

[2019-03-04 23:20] #92 closed

[2019-03-05 11:54] michaelsena opened #180 "3Box Space Narwhal Kudos"
# Timeline
ASAP, following up here based on discussions with @owocki, we hope to launch a collaboration with Kudos on this Friday, March 8th

# Title
* Space Narwhal

# Design Inspiration
https://www.notion.so/threebox/Space-Narwhal-Kudos-94b2d8c823a94580b204503090d6378d

![space narwhal prototype](https://user-images.githubusercontent.com/5216274/53782751-b2807100-3edc-11e9-9771-7fc1445d1d9b.png)

[2019-03-06 00:29] owocki commented on #180
live on https://gitcoin.co/kudos/marketplace/

[2019-03-06 22:20] denversasha opened #182 "Colorado Liftoff Logo"
# Timeline

Prior to March 25th meetup

Colorado Liftoff

# Design Inspiration
Colorado Flag
Rockets

# Metadata

[code]

# Down Payment

# Gen0 Owner Address
Kevin help me

[2019-03-07 03:59] owocki opened #183 "shepherd"
# Timeline

# Title

shepherd

# Design Inspiration

http://2.bp.blogspot.com/_RgQ_XUDZTyM/SxW0zCuStNI/AAAAAAAACzc/QmMdB3Tr-8Q/s1600/Shephrd1.gif

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-07 04:00] owocki opened #184 "woke-est"
# Timeline

# Title

woke-est

# Design Inspiration

https://punchdrink.com/articles/wine-world-unwoke-food-media-anthony-bourdain/
(but the person in the sunglasses refletion should NOT be drinking wine)

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-07 04:01] owocki opened #185 "Junior release manager"
# Timeline

# Title

Junior release manager

# Design Inspiration

https://www.google.com/search?biw=960&bih=946&tbm=isch&sa=1&ei=kJeAXNaKO-fjjwSn4r2oCA&q=junior+ranger+badge&oq=junior+ranger+badge&gs_l=img.3...0.0..15636...0.0..0.0.0.......1......gws-wiz-img.ftyuj8jaKKM

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-07 04:02] owocki opened #186 "Sultan of shill"
# Timeline

# Title

Sultan of shill

# Design Inspiration

https://www.google.com/search?biw=960&bih=946&tbm=isch&sa=1&ei=speAXNP8CqHcjwSMq5-4DA&q=sultan+disney&oq=sultan+disney&gs_l=img.3..0j0i8i30l2j0i5i30j0i24l2.4609.5192..5305...0.0..0.67.383.7......1....1..gws-wiz-img.......0i67j0i30.1Wn2jKd6gIQ

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-07 14:55] robertsolomon opened #187 "Kudos for ConsenSys"
# Timeline
 The sooner the better. There isn't a forcing event by which we need these by.

# Title

"Top Presenter"
"Solid Presenter"
"Diversity & Inclusion Advocate"

# Design Inspiration
 For "Top Presenter" https://thenounproject.com/search/?q=powerpoint&i=629819 with a crown on top.
For "Solid Performer" same link but with a thumbs up overlayed on it or something.
For "Diversity & Inclusion Ad

[2019-03-07 15:52] owocki opened #188 "new bots"
http://bits.owocki.com/ec77aceda4e3/Archive%202019-03-07%20at%208.52.36%20AM.zip

[2019-03-07 16:21] owocki opened #189 "youre a star"
# Timeline

# Title

youre a star

# Design Inspiration

http://bits.owocki.com/375149d75815/Screen%20Shot%202019-03-07%20at%209.20.58%20AM.png
but test should say 'youre a star!'

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-07 17:22] MladenPetronijevic commented on #187
![untitled](https://user-images.githubusercontent.com/41165756/53975787-f3a79980-4105-11e9-854d-3bce91a4cc03.png)

[2019-03-07 17:22] MladenPetronijevic commented on #187
@robertsolomon hi rob, could something like this work?

[2019-03-07 17:24] robertsolomon commented on #187
Fantastic, yes! My subjective preferences would be for a different color
outline around the diversity badge is all. It’s a very bright green.

On Thu, Mar 7, 2019 at 12:22 PM MladenPetronijevic <notifications@github.com>
wrote:

--
Sent from my iPhone

[2019-03-07 17:26] MladenPetronijevic commented on #187
@robertsolomon sure thing, i'll make some variations to choose from

[2019-03-07 17:44] MladenPetronijevic commented on #187
![untitled](https://user-images.githubusercontent.com/41165756/53977305-053e7080-4109-11e9-8317-f1181d4f2133.png)
@robertsolomon

[2019-03-07 19:19] robertsolomon commented on #187
How about the first one with the circle in the middle matching the color of
the outline?
Thanks for making the variations!

On Thu, Mar 7, 2019 at 12:44 PM MladenPetronijevic <notifications@github.com>
wrote:

[2019-03-09 03:29] wanseob opened #190 "Code Eating HIppo"
# Timeline
The sooner the better. We hold "Comuka" event every Saturday. It is kind of a Saturday coding salon(https://comuka.nonce.community) or a weekly casual hackathon. We have a plan to send Kudos to the participants every week.

# Title
Code Eating Hippo

# Design Inspiration

Profile image of https://twitter.com/CodeEatingHippo
![](https://pbs.twimg.com/profile_images/1098615185835646976/7C

[2019-03-11 15:33] MladenPetronijevic commented on #187
![Untitled](https://user-images.githubusercontent.com/41165756/54136072-5a38fa00-441b-11e9-95a1-a972a91b9e54.png)

[2019-03-11 15:57] MladenPetronijevic commented on #182
![Untitled](https://user-images.githubusercontent.com/41165756/54137850-adf91280-441e-11e9-936a-384fce7e8b7d.png)
@denversasha could something like this work?

[2019-03-11 17:10] robertsolomon commented on #187
Great!

On Mon, Mar 11, 2019 at 11:33 AM MladenPetronijevic <
notifications@github.com> wrote:

[2019-03-11 17:57] owocki commented on #187
svg pls @MladenPetronijevic !

@robertsolomon you want this on rinkeby, or mainnet?

[2019-03-11 18:19] robertsolomon commented on #187
rinkeby please

On Mon, Mar 11, 2019 at 1:57 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-03-11 19:53] owocki commented on #188
minting to https://gitcoin.co/kudos/marketplace/ now

[2019-03-12 00:24] denversasha commented on #182
This looks great. Is it possible to have a single rocket instead of
multiple?

Multiple rockets look like missile attack :-)

On Mon, Mar 11, 2019 at 9:57 AM MladenPetronijevic <notifications@github.com>
wrote:

--
CONFIDENTIALITY: This communication, including attachments, is for the
exclusive use of the addressee(s) and may contain proprietary,
confidential  or privileged information. If you are

[2019-03-12 16:59] #141 closed

[2019-03-13 20:40] owocki opened #191 "BOUNTY - Create A 90s themed Kudos SVG And Earn 25 DAI!"
One of the themes of Ethereal this year is "90s theme".  As such, we will be creating a batch of 90s themed Kudos for the event this year.

We would like

saved by the bell
slap bracelets
ninja turtles
Discman
Tamagotchi
Troll dolls
Cassette
Nokia snake game
Pogs
saved by the bell
slap bracelets
ninja turtles
walkman (think that’s also discman), pagers, floppy discs, PDA tablets, MS-DOS, chips cha

[2019-03-13 21:02] owocki commented on #191
@drbh got a portfolio i can checkout?

[2019-03-14 10:31] MladenPetronijevic commented on #182
@denversasha sure thing, something like this?
![Untitled](https://user-images.githubusercontent.com/41165756/54350007-b6cf2b80-464c-11e9-9553-d83d2abf7ad8.png)

[2019-03-14 11:29] MladenPetronijevic commented on #70
![Untitled](https://user-images.githubusercontent.com/41165756/54353640-d702e880-4654-11e9-89c7-41d2cf4c91f1.png)
could something like this work? @owocki

[2019-03-14 11:49] MladenPetronijevic commented on #189
![Untitled](https://user-images.githubusercontent.com/41165756/54354705-9ce71600-4657-11e9-9155-f0eae59555a1.png)
@

[2019-03-14 11:49] MladenPetronijevic commented on #189
@owocki

[2019-03-14 13:15] cryptonautica commented on #191
Added Tamagotchi kudos #192

[2019-03-14 14:01] owocki commented on #70
looks great! svg pls

[2019-03-14 14:01] owocki commented on #189
looks great ! svg pls

[2019-03-14 14:35] owocki commented on #187
http://bits.owocki.com/f799fb65d8b7/Archive%202019-03-14%20at%208.35.22%20AM.zip

[2019-03-14 14:35] owocki commented on #189
http://bits.owocki.com/f799fb65d8b7/Archive%202019-03-14%20at%208.35.22%20AM.zip

[2019-03-14 14:37] owocki commented on #182
@denversasha do you actually want to mint the kudos on chain?  or do you just want to use this for your meetup?

[2019-03-14 16:05] robertsolomon commented on #187
It's beyond my technical ability to understand if I'm supposed to do
anything with these svg files. Lmk what I need to do as next steps.

On Thu, Mar 14, 2019 at 10:35 AM Kevin Owocki <notifications@github.com>
wrote:

[2019-03-14 16:17] owocki commented on #187
@robertsolomon you dont have to do anything!  im going to mint the kudos on rinkeby and then send you links you can use to send them to ppl.  CC @kamescg who i know is working on some kudos integration too

[2019-03-14 17:25] cryptonautica commented on #191
Also added animated Ethereal gameboy kudos #192

[2019-03-14 22:17] owocki commented on #182
@denversasha I, on behalf of Gitcoin / Consensys, assign the IP of the Colorado Liftoff logo to you without reservation.

[2019-03-14 23:49] denversasha commented on #182
New logo looks great. I'm not seeing how to access vector file. Can you point me to it? @owocki

[2019-03-15 01:03] Arachnid opened #193 "ENS Kudos"
# Timeline

Before EDCon (8 April) would be ideal.

# Title

ENS Enabled

# Design Inspiration

ENS Identity: https://drive.google.com/file/d/1kojIkm4K4d4v1ozxvg8AzZa7MLk7rRdV/view?usp=sharing

# Metadata

[code]

# Down Payment

https://etherscan.io/tx/0x402d92c5cda09481e9eef5183c71b46c5f0de283ae249dbdb0eff55c1730f40f

# Gen0 Owner Address

0xfdb33f8ac7ce72d7d4795dd8610e323b4c122fbb

[2019-03-15 16:44] owocki commented on #193
@MladenPetronijevic i just added this one to the top of the queue!z

[2019-03-15 16:49] owocki commented on #182
@denversasha here it is http://bits.owocki.com/7fe2c9bd0029/colorado_lift_off.svg

[2019-03-17 15:01] Swader commented on #137
@owocki can I get the description in https://gitcoin.co/kudos/1160/nimbus_pilot updated to:

[2019-03-17 23:25] owocki opened #194 "BDFL"
# Timeline

# Title

BDFL (benevolent dictator for life)

# Design Inspiration

https://www.google.com/search?q=dictator&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjvw82WqYrhAhVs9YMKHacTAzwQ_AUIDigB&biw=1440&bih=647#imgrc=_

but please make the dictator "shine" and glow a little bit.  he is benevolent after all

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-17 23:45] owocki opened #195 "i want you to BUIDL on ETH"
# Timeline

# Title

I want you to BUIDL on ETH

# Design Inspiration

https://www.google.com/search?q=i+want+you+poster&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiL4JXkrYrhAhWO8oMKHY52D18Q_AUIDigB&biw=1440&bih=682

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-18 01:32] owocki commented on #187
@robertsolomon im going to mint these this week.  they should be owned by 0x611B13d54F0423Bc87Abdc113Aa9d2512A472735 on rinkeby right?

[2019-03-18 02:19] owocki commented on #137
@Swader i can update it on gitcoin, but theres no way to do this on IPFS / blockchain (because immutability) without burning the old coin and minting a new one.  that ok?

[2019-03-18 02:56] owocki commented on #191
@yash412 cool pls do

[2019-03-18 02:59] owocki opened #196 "saved by the bell"
# Timeline

# Title

saved by the bell

# Design Inspiration

https://www.google.com/search?biw=1920&bih=897&tbm=isch&sa=1&ei=jgmPXIyHN5-jjwTNoI6oAw&q=saved+by+the+bell+logo&oq=saved+by+the+bell+logo&gs_l=img.3..0l8.1935.2292..2452...0.0..0.85.141.2......1....1..gws-wiz-img.78fgrdqS-0E#imgrc=KGwNuRuuKncVDM:

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-18 07:27] Swader commented on #137
@owocki good enough, thank you, just want to make the info on gitcoin a little clearer, the coin's nature remains the same.

[2019-03-18 16:42] robertsolomon commented on #187
yes please

On Sun, Mar 17, 2019 at 9:32 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-03-18 17:56] owocki commented on #187
@robertsolomon checkout https://gitcoin.co/kudos/marketplace/?network=rinkeby -- the kudos are minted and live

[2019-03-18 18:28] robertsolomon commented on #187
Excellent thank you. What's the best way to retrieve them?

On Mon, Mar 18, 2019 at 1:56 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-03-18 18:56] MladenPetronijevic commented on #190
![Untitled](https://user-images.githubusercontent.com/41165756/54555873-e6b56080-49b7-11e9-9b4e-408b8fcd676e.png)
@wanseob could something like this work?

[2019-03-18 19:03] MladenPetronijevic commented on #193
![Untitled](https://user-images.githubusercontent.com/41165756/54556265-cf2aa780-49b8-11e9-81d9-79214dc3994c.png)
something like this?

[2019-03-18 21:43] owocki commented on #187
just send them on gitcoin by clicking on the kudos, then 'send kudos' then sending it. you must be on the rinkeby network

screencast: http://bits.owocki.com/5789a4aeb5f7/Screen%20Recording%202019-03-18%20at%2003.43%20PM.gif

[2019-03-18 21:53] Arachnid commented on #193
Looks good!

[2019-03-18 22:40] jeffgillis opened #197 "Kudo for Brett Li"
# Timeline
Wednesday, March 20, 2019, 11:30am ET

# Title
 Master-At-Arms

# Design Inspiration
Use either:
https://drive.google.com/file/d/1VwGk8HQmwfcjWIwrKCtF-Vrlm_WjjkiP/view?usp=sharing
https://drive.google.com/file/d/1ogHDc9aLS5RJsBF8KZ_ceNDBVs_HMD1L/view?usp=sharing

# Metadata

[code]

[2019-03-18 22:42] owocki commented on #197
@MladenPetronijevic can we get a rev on this one by tomorrow?

[2019-03-18 23:02] MladenPetronijevic commented on #197
Sure thing, i'll give it a try tomorrow during the day

[2019-03-18 23:03] jeffgillis commented on #197
.4 eth paid -- txid 0xfb349aaeb08f6bbd92ca9eec8c08e1670a8fd7f87754a0b95ce00f37214f8f52

Can I store the Kudo temporarily in vintage myetherwallet before we give it to Brett?
if so, vintage myetherwallet address: 0xA27B7b929526780267A9BC5a5AD3Bb89CDc21A88

[2019-03-18 23:07] owocki commented on #197
yes we can

[2019-03-19 03:21] wanseob commented on #190
@MladenPetronijevic Thanks for your work.
I hope there would be a tagline and prefer colorful to achromatic. How about the below?

![png](https://user-images.githubusercontent.com/8542397/54577895-ddbca180-4a40-11e9-8985-05dc8a2d9e16.png)

[2019-03-19 16:57] MladenPetronijevic commented on #197
![Untitled](https://user-images.githubusercontent.com/41165756/54625933-7e768580-4a70-11e9-8c13-0b45c595aa34.png)
@jeffgillis something like this?

[2019-03-19 18:11] owocki commented on #197
https://gitcoin.co/kudos/2149/master_at_arms

[2019-03-20 10:28] yash412 commented on #191
Added a few @owocki!
Please review (  #198 )

[2019-03-21 06:30] yash412 commented on #191
Added the requested logos ( #199 ) @owocki !

[2019-03-21 07:21] yash412 commented on #196
Does this look alright to you?

![saved_by_bell](https://user-images.githubusercontent.com/21294773/54737901-01a7f080-4bc3-11e9-969e-64c430b62247.png)

[2019-03-21 10:10] yash412 commented on #183
Updated my ( #199 ) PR with a shepherd Kudos, please review.

[2019-03-21 10:11] yash412 commented on #196
Updated my ( #199 ) PR with this Kudos, please review.

[2019-03-21 14:18] yash412 commented on #183
As per our discussions on ( #199 )

Here is a PNG Sample:

![shepherd](https://user-images.githubusercontent.com/21294773/54758434-3769cb00-4bfd-11e9-80c5-ddd2cb35b574.png)

Here is the PNG and SVG File :

[shepherd.zip](https://github.com/gitcoinco/kudosbadges/files/2992430/shepherd.zip)

[2019-03-21 14:23] yash412 commented on #196
As per our discussions on ( #199 ) @owocki

Here is a PNG Sample:

![saved_by_bell](https://user-images.githubusercontent.com/21294773/54758807-ee664680-4bfd-11e9-8ec2-1a2f1f8cfee2.png)

Here are the SVG and PNG files:

[sbtb.zip](https://github.com/gitcoinco/kudosbadges/files/2992452/sbtb.zip)

[2019-03-21 15:09] yash412 commented on #185
Can you elaborate on what do you want in the name segment and the would a gitcoin round logo do at the bottom? @owocki

[2019-03-21 18:09] owocki opened #200 "holy hand grenade"
# Timeline

# Title

holy hand grenade

# Design Inspiration

https://www.google.com/search?q=holy+hand+grenade&source=lnms&tbm=isch&sa=X&ved=0ahUKEwinlcGP6pPhAhUHh-AKHaBzB8gQ_AUIDigB&biw=2560&bih=1257

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-21 18:10] owocki commented on #190
@MladenPetronijevic look ok?  can i have svg?

[2019-03-21 18:10] owocki commented on #193
@MladenPetronijevic svg pls

[2019-03-21 18:21] owocki commented on #185
yes gitcoin round logo is good.

name segment should be Junior Release Manager

[2019-03-21 18:47] owocki commented on #196
hey @yash412 i like this, but it doesnt really match the [inspiration images](https://www.google.com/search?biw=1920&bih=897&tbm=isch&sa=1&ei=jgmPXIyHN5-jjwTNoI6oAw&q=saved+by+the+bell+logo&oq=saved+by+the+bell+logo&gs_l=img.3..0l8.1935.2292..2452...0.0..0.85.141.2......1....1..gws-wiz-img.78fgrdqS-0E#imgrc=KGwNuRuuKncVDM:) i posted..

[2019-03-21 18:50] yash412 commented on #196
I actually saw the saved by the bell thing on the ethereal post initially which didn't have an inspiration?
But I get it no issues, you don't have to pay me for this it's alright!
Want me to work on a inspiration based kudo?

[2019-03-21 18:53] owocki commented on #196
happy to pay for both.  yes pls add the saved by the bell one thats inspired by inspiration image

[2019-03-21 18:54] owocki opened #201 "hackathon judges"
# Timeline

# Title

hackathon judge

# Design Inspiration

https://www.google.com/search?q=judge&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjP0LSZ9JPhAhWKiOAKHfKWBQwQ_AUIDigB&biw=1280&bih=1306

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-21 18:57] yash412 commented on #196
@owocki awesome, if you like this too then maybe merge the #199 PR so I can submit a new one with this Kudo and the Junior Ranger Badge.

[2019-03-21 20:06] yash412 commented on #196
Look good?
There wasn't a single vector source for the logo, so the text is ever so slightly different but as similar as I could extract :3

![bell2](https://user-images.githubusercontent.com/21294773/54781610-cb538b00-4c2d-11e9-986b-379acc0e0056.png)

[2019-03-21 20:17] yash412 commented on #196
Updated the PR #199 with this logo as well, please review 👍

[2019-03-21 22:13] owocki opened #202 "bots"

[2019-03-21 22:13] owocki commented on #202
http://bits.owocki.com/8fc673545970/bots.zip

[2019-03-21 22:14] owocki commented on #190
http://bits.owocki.com/5e021f2dbff3/Archive%202019-03-21%20at%206.14.08%20PM.zip

[2019-03-21 22:14] owocki commented on #193
http://bits.owocki.com/5e021f2dbff3/Archive%202019-03-21%20at%206.14.08%20PM.zip

[2019-03-22 06:23] yash412 commented on #196
@owocki left the description blank though? I haven't seen the show.

[2019-03-22 10:30] yash412 commented on #201
Looks good?

![judge](https://user-images.githubusercontent.com/21294773/54816933-acdda600-4ca6-11e9-9761-cd00acb9b2d8.png)

[2019-03-22 15:12] owocki opened #203 "clippy ship it"
# Timeline

# Title

# Design Inspiration

http://bits.owocki.com/72ef613988e2/Clippy_ShipIt.gif

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-24 15:58] yash412 commented on #185
@owocki, not working on this anymore sorry, made few wasn't satisfied and now I am swarmed.
I did submit an PR ( #199 ) with the remaining 18 kudos.

[2019-03-25 13:14] owocki commented on #196
thanks! merged

[2019-03-25 13:15] owocki opened #204 "doge"
# Timeline

# Title

doge

# Design Inspiration

https://www.google.com/search?q=doge&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjIq7L_r53hAhVwIDQIHcpLAaIQ_AUIDigB&biw=2560&bih=1306

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-25 13:36] owocki opened #205 "joe bender kudos"
https://drive.google.com/drive/u/2/folders/1qdwJgDpQtPOMHAPa7jUEApm6GJs1Ttz4

[2019-03-25 14:14] owocki opened #206 "negs Kudos"
for april fools down, itd be funny to put together a dark version of Kudos that is just "negs".

the scope of this ticket is to change the kudos logo ( https://s.gitcoin.co/static/v2/images/kudos/logo.834f97977145.svg ) and make a "negs" veresion of it.

the scope is also to produce 3 or 4 badges that are negs:

ideas for "negs":
- [your butt is so phat](https://www.google.com/search?biw=1280&bih=

[2019-03-25 14:23] owocki opened #207 "plate spinner"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-25 15:53] owocki opened #208 "Pandora’s box"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-25 16:10] owocki opened #209 "jon snow"
# Timeline

# Title

jon snow

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-25 16:11] owocki opened #210 "night king"
# Timeline

# Title

night king

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-25 16:11] owocki opened #211 "khaleesi"
# Timeline

# Title

khaleesi

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-03-25 17:02] owocki commented on #201
@yash412 i like!  cn you pls PR it ?

[2019-03-25 17:55] yash412 commented on #201
@owocki was part of the ( #199 ) PR that has been merged already 👍

[2019-03-25 18:22] owocki opened #212 "pokemon-inspired bot kudos"
https://www.google.com/search?q=top+pokemon&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjSzY_A9J3hAhUDNd8KHY15DjcQ_AUIDigB&biw=1280&bih=1306#imgrc=PCBcBE9hrzyBeM:

[2019-03-25 19:34] owocki commented on #137
updated!

[2019-03-25 19:42] Swader commented on #137
Thanks!

[2019-03-25 19:42] #137 closed

[2019-03-25 20:31] yash412 commented on #191
@owocki, I made 18 kudos in total, however the payout was made for the amount of 300$.
18 * 25 = 450$.

[2019-03-25 22:51] owocki commented on #191
x-post with https://github.com/gitcoinco/kudosbadges/pull/199

[2019-03-26 14:49] yash412 commented on #212
Made the PR with these 8 Kudos, let me know of any changes.

![bullbasaur](https://user-images.githubusercontent.com/21294773/55006775-59918d80-4fef-11e9-9aa6-c8f85d8d37c3.png)
![charmander](https://user-images.githubusercontent.com/21294773/55006776-59918d80-4fef-11e9-9b1a-f3d6bb435099.png)
![eevee](https://user-images.githubusercontent.com/21294773/55006778-5a2a2400-4fef-11e9-93d7-c80c25923bd3.p

[2019-03-26 15:19] owocki commented on #212
these are really cool :)

want me to hold off on merging them in until we open up another bounty for kudos designs?

[2019-03-27 07:21] yash412 commented on #212
@owocki oh that's closed? Nah, go ahead it's alright. 👍

[2019-03-28 18:09] owocki commented on #205
now live at https://gitcoin.co/kudos/marketplace/ !

[2019-03-28 18:09] owocki commented on #193
now live at https://gitcoin.co/kudos/marketplace/ !

[2019-03-28 18:10] owocki commented on #190
https://gitcoin.co/kudos/2212/code_eating_hippo

[2019-03-28 19:25] bdresser opened #214 "MetaMask Fam kudo"
# Timeline
would love this in a week or two -- we've started the MetaMask mobile private beta and want to incentivize more folks to give feedback! (@vs77bb @owocki )

# Title
IDK what do you think!!!!
* MetaMask Fam
* Helper Fox
* Detective Fox?

# Design Inspiration
misc brand inspo [here](https://docs.google.com/presentation/d/11eT7Y1DEdXuMSqSZ5h0S4pwEWtr43iMKZUjmzx1dCYM/edit#slide=id.g3d12ab541

[2019-03-28 20:25] Arachnid commented on #193
Thanks! Should the "gen0 owner address" have one?

[2019-03-28 20:31] owocki commented on #193
derp sorry i minted it to `0x911143d946ba5d467bfc476491fdb235fef4d667` instead of `0xfdb33f8ac7ce72d7d4795dd8610e323b4c122fbb`

i can burn the existing one and mint it to 0xfdb33f8ac7ce72d7d4795dd8610e323b4c122fbb -- is that right?

[2019-03-28 22:02] owocki opened #215 "more bots"
http://bits.owocki.com/83669d33d7ab/Screen%20Shot%202019-03-27%20at%2012.27.54%20PM.png

[2019-03-28 22:38] MladenPetronijevic commented on #214
@bdresser
![Untitled](https://user-images.githubusercontent.com/41165756/55197342-8b9f1d00-51b2-11e9-9384-2dec7772f19d.png)
could something like this work?

[2019-03-28 22:49] bdresser commented on #214
hey @MladenPetronijevic thanks for the fast turnaround!!!!

we're going to go with "Helper Fox" - any way to include some sort of representation in the badge? A heart, a helping hand, two happy foxes together, something like that?

[2019-03-29 00:25] Arachnid commented on #193
Yes please!

[2019-03-29 15:28] cjeria commented on #214
Thought I'd take a quick pass at this one too. Here's what I came up with.
<img width="748" alt="MetaMask Helper NFT art" src="https://user-images.githubusercontent.com/597770/55243438-05202500-521e-11e9-87c1-f4399442ff10.png">

[2019-03-29 17:13] owocki commented on #214
@bdresser i like a lot of these. perhaps theres room to do more than 1?!

[2019-03-29 17:23] owocki commented on #193
ok heres the new one! https://gitcoin.co/kudos/2249/ens_enabled

[2019-03-29 20:44] owocki commented on #212
@yash412 want to PR a change to kudos.yaml that means that you own the kudos and get the rewards when ppl purchase them?

[2019-03-29 20:55] MladenPetronijevic commented on #214
@bdresser looking good to me! sure thing i could give it a try to make it helping releated if still needed

[2019-03-29 22:53] bdresser commented on #214
Sure - let's do "Helper Fox" with @MladenPetronijevic's designs, maybe with a "helping" tweak :)

and "MetaMask Fam" as @cjeria's designs. does it need to be hexagonal or nah?

@owocki for a second do I need to send more ETH ?

[2019-03-30 06:56] yash412 commented on #212
@owocki nah it's alright as long as I get credits for making the kudos on the purchase end I'm good. I'm a little confused as to whether or not you're processing a payout for this though?

[2019-03-30 11:41] yash412 commented on #214
### **I thought this might be nice as a team player/leader of the pack fox?**

![meta4](https://user-images.githubusercontent.com/21294773/55275602-8698b580-52f9-11e9-8f7a-9f84ddd3115d.png)

**Few ones I made but didn't like, but if you like them I can include these too :**

![meta1](https://user-images.githubusercontent.com/21294773/55275617-c1025280-52f9-11e9-92da-f928e77ba63c.png)

![meta3](htt

[2019-03-30 12:11] MladenPetronijevic commented on #214
![Untitled](https://user-images.githubusercontent.com/41165756/55275883-ec327500-52ec-11e9-943d-f80c8263b089.png)

[2019-03-30 20:41] yash412 commented on #200
Not my best work, but any changes?

![hhg](https://user-images.githubusercontent.com/21294773/55281424-43fcca80-5345-11e9-9add-721025e2c47c.png)

[2019-04-01 16:10] owocki commented on #200
i like it!  id probably give it a little bit of a glow and :shipit: !

[2019-04-01 16:31] owocki commented on #212
not planning on it no.. ill update the YAML file so that you get credit for purchases.

[2019-04-01 18:04] owocki commented on #214
@bdresser happy to do the next ones for 1/2 off.  we gotta at least show some revenue :P

[2019-04-01 19:34] yash412 commented on #212
@owocki only asked cause you mentioned it yourself I had agreed to not getting paid for this 💸
Nonetheless, I'll edit the YAML file don't worry.

[2019-04-01 19:43] yash412 commented on #200
Added PR #216

[2019-04-01 19:44] #200 closed

[2019-04-01 21:03] cjeria commented on #214
Updated to the hexagon template.
<img width="748" alt="Artboard 2 copy@2x" src="https://user-images.githubusercontent.com/597770/55359423-31e76d00-54a8-11e9-9fef-cace262cc51a.png">

[2019-04-01 23:19] orbro opened #217 "MESH Token - Initial Kudos"
# Timeline
No rush

# Title
* MESH Token Closed Beta Participant
* MESH Token Season 0 Participant
* MESH Token Season 0 Top Performer
* MESH Token Season 0 All-Star

# Design Inspiration
* [Closed Beta](https://thenounproject.com/search/?q=beta&i=1955900)
* [Participant](https://thenounproject.com/search/?q=participation&i=1686762)
* [Top Performer](https://thenounproject.com/search/?q=participat

[2019-04-02 13:27] owocki commented on #217
hey @orbro whats your budget look like?  usually we charge 0.5 ETH per design we do; happy to give a break on pricing since it's internal, but it's also nice to show demand / revenue to finance!

[2019-04-02 21:37] orbro commented on #217
@owocki we don't have a budget, unfortunately :( any chance we could just make the artwork suuuuper simple so there's little to no lift on your end?

[2019-04-03 22:04] bdresser commented on #214
let's go with this one as Helper Fox

<img width="146" alt="Screen Shot 2019-04-03 at 3 03 31 PM" src="https://user-images.githubusercontent.com/1016190/55516324-c1fcf200-5621-11e9-8c87-d1f9093c3540.png">

we'll be back for more soon @owocki !

what's the best way to share the final assets?

[2019-04-03 22:08] owocki commented on #214
svg pls!

[2019-04-03 22:33] cjeria commented on #214
@owocki here's a link to download the svg https://www.dropbox.com/s/xh2flsanpsa1liq/metamask_helper.svg?dl=0

[2019-04-04 17:03] owocki commented on #217
can we put those assets into svg template and PR them back to this repo?

http://bits.owocki.com/e0d4f26f5a76/kudos_template.svg

[2019-04-08 01:46] owocki opened #218 "oracle"
# Timeline

# Title

oracle

# Design Inspiration

https://www.google.com/search?biw=1920&bih=946&tbm=isch&sa=1&ei=8qeqXNLQOcec5gK9pig&q=all+seeing+oracle&oq=all+seeing+oracle&gs_l=img.3..0i24.8253.9547..9635...0.0..0.89.1317.16......1....1..gws-wiz-img.......0j0i67j0i8i30.sukRBX9VWc4#imgrc=nPQV3bTQcUJNuM:

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-11 16:48] owocki commented on #217
lmk

[2019-04-11 17:40] MladenPetronijevic commented on #176
![image](https://user-images.githubusercontent.com/41165756/55979102-b2b91c80-5c91-11e9-8533-ddac2a92e958.png)

[2019-04-11 17:41] MladenPetronijevic commented on #176
![image](https://user-images.githubusercontent.com/41165756/55979131-c19fcf00-5c91-11e9-99b1-cd094a47f757.png)

[2019-04-11 17:41] MladenPetronijevic commented on #166
![image](https://user-images.githubusercontent.com/41165756/55979162-d4b29f00-5c91-11e9-9415-da421e2d205a.png)

[2019-04-11 17:51] owocki opened #221 "the austin t griffith bow tie award"

[2019-04-11 17:52] owocki commented on #221
design inspiration
austin: https://pbs.twimg.com/profile_images/921411011722096640/vmTtRHaZ.jpg
in a boe tie, top hat, and monocle

[2019-04-12 16:15] owocki opened #224 "CK partnership Kudos for Ethereal"

[2019-04-12 16:17] owocki commented on #176
can i have the svg pls

[2019-04-12 16:17] owocki commented on #212
cool minting now

[2019-04-12 16:18] #212 closed

[2019-04-12 16:20] owocki commented on #214
minting now

[2019-04-12 16:24] #224 closed

[2019-04-12 16:28] #215 closed

[2019-04-12 16:46] #166 closed

[2019-04-12 16:46] #214 closed

[2019-04-12 17:11] owocki commented on #212
live on https://gitcoin.co/kudos/marketplace/

[2019-04-12 17:11] owocki commented on #214
live on https://gitcoin.co/kudos/marketplace/?q=metamask

@bdresser  i made it so only u can send it. but lmk if someone else shoudl have perms tooo

[2019-04-12 17:13] owocki commented on #212
@yash412 fwiw it looks like hte left side is cut off on these http://bits.owocki.com/56e1782b2922/Image%202019-04-12%20at%2011.12.47%20AM.png

[2019-04-12 21:44] yash412 commented on #212
@owocki oh darn, I currently don't have access to my laptop with all the files, will submit a PR with the changes in 2-3 days. :')

[2019-04-14 16:07] owocki opened #226 "pandoras box"

[2019-04-14 16:07] owocki commented on #226
http://bits.owocki.com/684c184af1ce/pandora's_box.svg

[2019-04-14 18:56] cbtahar opened #227 "metamask"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-15 02:20] owocki opened #228 "Meme warrior"
# Timeline

# Title

Meme warrior

# Design Inspiration

https://www.google.com/search?biw=1440&bih=689&tbm=isch&sa=1&ei=V-qzXMCrGMjksAWH9pS4CA&q=mechwarrior+cover&oq=mechwarrior+cover&gs_l=img.3...4526.4914..5008...0.0..0.73.391.6......1....1..gws-wiz-img.......0i67j0.kFq7HPTmDtA

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-15 02:21] owocki opened #229 "sneaky"
# Timeline

# Title

sneakey

# Design Inspiration

https://nofilmschool.com/sites/default/files/styles/article_wide/public/raiders1.jpg?itok=eqKAZwDZ

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-15 11:28] AnonVitalik opened #230 "GlenAward"
# Timeline

# Glen Weyl Award

https://file.globalupload.io/f4njVFcXgK.svg
# Design Inspiration
https://upload.wikimedia.org/wikipedia/commons/1/10/E._Glen_Weyl_at_NERD.jpp
-->
# Metadata

# Gen0 Owner Address

[2019-04-15 13:05] AnonVitalik commented on #230
<img width="199" alt="Capture d’écran 2019-04-15 à 15 04 12" src="https://user-images.githubusercontent.com/49642652/56134870-c44f3c80-5f8f-11e9-8ceb-18691c1f294e.png">

[2019-04-15 13:39] #227 closed

[2019-04-15 19:05] owocki opened #231 "pc load letter"
# Timeline

# Title

pc load letter

# Design Inspiration

https://i.ytimg.com/vi/5QQdNbvSGok/hqdefault.jpg

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-17 15:24] MladenPetronijevic commented on #194
![Untitled](https://user-images.githubusercontent.com/41165756/56300133-aa4f5e80-6135-11e9-9628-b3ed3f028e55.png)

[2019-04-17 21:01] owocki commented on #194
love it! svg pls

[2019-04-17 21:35] owocki opened #232 "webmaster"
# Timeline

# Title

webmaster

# Design Inspiration

https://www.google.com/search?biw=1440&bih=637&tbm=isch&sa=1&ei=J5y3XOz9E4fYwALSqYWoDQ&q=webmaster+nerd&oq=webmaster+nerd&gs_l=img.3...11102.11612..11712...0.0..0.61.294.5......1....1..gws-wiz-img.......0j0i67j0i30j0i24.RQVR_dNfumo
# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-18 14:05] MladenPetronijevic commented on #185
![Untitled](https://user-images.githubusercontent.com/41165756/56366575-bd286880-61f3-11e9-86ae-92aae9d39885.png)

[2019-04-18 14:08] owocki commented on #185
love it! svg pls

[2019-04-18 14:33] MladenPetronijevic commented on #194
[BDFL.zip](https://github.com/gitcoinco/kudosbadges/files/3094844/BDFL.zip)

[2019-04-18 14:33] MladenPetronijevic commented on #185
[junior_release_menager.zip](https://github.com/gitcoinco/kudosbadges/files/3094845/junior_release_menager.zip)

[2019-04-20 13:08] owocki commented on #143
@MladenPetronijevic can i ahve the svg for the one above pls?

[2019-04-20 13:52] owocki commented on #194
minted at https://gitcoin.co/kudos/marketplace/

[2019-04-20 13:52] owocki commented on #185
minted at https://gitcoin.co/kudos/marketplace/

[2019-04-20 13:52] owocki commented on #230
minted at https://gitcoin.co/kudos/marketplace/

[2019-04-20 13:52] owocki commented on #226
minted at https://gitcoin.co/kudos/marketplace/

[2019-04-20 19:58] MladenPetronijevic commented on #143
[hummingbird vector.zip](https://github.com/gitcoinco/kudosbadges/files/3100542/hummingbird.vector.zip)
[hummingbird.zip](https://github.com/gitcoinco/kudosbadges/files/3100544/hummingbird.zip)

[2019-04-20 19:58] MladenPetronijevic commented on #221
[bowtie.zip](https://github.com/gitcoinco/kudosbadges/files/3100545/bowtie.zip)

[2019-04-20 19:59] MladenPetronijevic commented on #209
[jon_snow.zip](https://github.com/gitcoinco/kudosbadges/files/3100547/jon_snow.zip)

[2019-04-20 19:59] MladenPetronijevic commented on #211
[khaleesi.zip](https://github.com/gitcoinco/kudosbadges/files/3100548/khaleesi.zip)

[2019-04-22 13:22] owocki commented on #221
@austintgriffith are you ok if we mint this?   its fine if not

[2019-04-22 14:16] austintgriffith commented on #221
haha yeah! for sure!

[2019-04-22 15:27] MladenPetronijevic commented on #210
![Untitled](https://user-images.githubusercontent.com/41165756/56508186-dc8d0180-6523-11e9-8ce7-c55a7dd415b3.png)

[2019-04-22 20:46] owocki commented on #210
love it ! svg pls

[2019-04-22 21:21] MladenPetronijevic commented on #210
[night_king.zip](https://github.com/gitcoinco/kudosbadges/files/3104912/night_king.zip)

[2019-04-24 15:04] vs77bb opened #236 "Da Vinci"
# Timeline

# Title

# Design Inspiration

https://www.google.com/search?q=da+vinci&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjgwKuIgOnhAhXmY98KHUAtC2oQ_AUIDigB&biw=1437&bih=726#imgrc=Gd89g1u2kt7sNM:

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-24 15:09] vs77bb opened #237 "Michelangelo"
# Timeline

# Title

# Design Inspiration

![image](https://user-images.githubusercontent.com/23297747/56670539-01e35200-6681-11e9-9e65-1fc2792bf284.png)

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-24 15:14] vs77bb opened #238 "Tim Berners Lee"
# Timeline

# Title

# Design Inspiration

![image](https://user-images.githubusercontent.com/23297747/56671055-ea589900-6681-11e9-809b-f8d0b06aebb5.png)

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-04-24 20:45] owocki opened #239 "these kudos need to be re-issued"
https://gitcoin.co/kudos/2573/fun_time
https://gitcoin.co/kudos/2566/lets_play_some_music
https://gitcoin.co/kudos/2565/pogs

[2019-04-25 13:32] MladenPetronijevic commented on #237
![Untitled](https://user-images.githubusercontent.com/41165756/56739606-654bad80-676f-11e9-9dc6-3d1b00eefd3b.png)

[2019-05-03 11:28] avive opened #241 "Spacemesh Kudo"
# Timeline
- Whenever you can. we are flexible :-)

# Title
- Spacemesh Hero

# Design Inspiration
We'd like the Kudo to include the Spacemesh logo, mid 2019 version:
https://github.com/spacemeshos/product/blob/master/resources/logo_black_1600.png
We like it to look like a shieldtrophy... e.g. shield and a trophy.

# Metadata
- description (varchar, up to 500 characters -- no profanity): Your are

[2019-05-05 14:54] MladenPetronijevic commented on #241
@avive hi, i've desiged the shieldtrophy any thoights and feedback?
![Untitled](https://user-images.githubusercontent.com/41165756/57195744-5e365380-6f56-11e9-81ff-3b6ea7d0d797.png)

[2019-05-05 16:01] owocki opened #242 "Application Alliance"
# Timeline

# Title

Application Alliance

# Design Inspiration

Please feel free to reuse this asset for this logo
https://gitcoin.co/kudos/430/resilience

The design should
* any color
* should have the words "Application Alliance" on it
* should have 3 shields. [inspiration](https://www.google.com/search?biw=1920&bih=946&tbm=isch&sa=1&ei=vQjPXJq2GIWGsQWm8YGYDw&q=shield+alliance&oq=shield+allian

[2019-05-06 16:32] MladenPetronijevic commented on #242
[app_alliance.zip](https://github.com/gitcoinco/kudosbadges/files/3148933/app_alliance.zip)

[2019-05-17 19:18] owocki opened #243 "chicken wing"
# Timeline

# Title

chicken wing

# Design Inspiration

https://www.google.com/search?q=chicken+wing&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjtj8uCpKPiAhVFM6wKHR2eC9cQ_AUIDigB&biw=960&bih=897

make it GLOW pls!

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-05-30 15:36] owocki opened #244 "new robot kudos"
https://github.com/gitcoinco/creative/

[2019-05-30 15:38] owocki commented on #241
@avive what you think?

[2019-06-01 16:23] avive commented on #241
Waiting for feedback from my design team

[2019-06-03 18:47] MladenPetronijevic commented on #195
[i_want_you_to_build_on_eth.zip](https://github.com/gitcoinco/kudosbadges/files/3248998/i_want_you_to_build_on_eth.zip)

[2019-06-06 09:16] liathoffman commented on #241
@owocki -hi! I am taking over from @avive as I work directly with our design team.

This is fun, but fits better with the old brand than the current brand. So, we think these adjustments would work:
Swapping the color palette to our brand colors, largely our dark grey and white as the base.
Full color palette would be #1776E3, #EC5C3D, #65B042, #AA58B1, #252429, white
Instead of having a buildup o

[2019-06-06 14:24] owocki commented on #241
@MladenPetronijevic see above ^^

[2019-06-06 15:07] MladenPetronijevic commented on #241
@liathoffman hi, sure thing i'm on it i'll give it a quick fix

[2019-06-07 10:30] MladenPetronijevic commented on #241
![Untitled](https://user-images.githubusercontent.com/41165756/59098196-f641a700-891f-11e9-889b-5fb1b68c257e.png)
Could something like this work?

[2019-06-20 09:43] liathoffman commented on #241
@MladenPetronijevic

We drafted some rough thoughts to help convey our words more clearly and spark a final idea
 - please see: https://www.dropbox.com/sh/tsn1xl2wze44yg4/AACENnz24lxvxSkywDAq7hgIa?dl=0
1. We're generally thinking pattern should just move to refined ASCII text, so the pattern stays true to the branding (instead of repeat logo),
2. and we can bring back some of the higher-fidelity f

[2019-06-21 12:26] danlipert opened #245 "SEO Expert"
# Timeline
Whenever

# Title
SEO Expert

# Design Inspiration
Some kind of Robot Librarian: [like this](https://i.pinimg.com/originals/6c/42/2a/6c422a19069322faa7e77ab886215d90.jpg) but maybe with a gitcoin bot?

# Metadata
description: Your SEO skills help people find the important information they need for success.
priceFinney: 1
artist:
numClonesAllowed: 500
to_address: not sure what this is fo

[2019-06-21 15:08] jweliasberg opened #246 "Labs Beyond Blockchain Relay Kudos"
# Timeline
Delivery by July 5th is possible @owocki @alexvotofuture @vs77bb. Also, please let me know if you need anything else from me!

# Title
Beyond Blockchain Relay

# Design Inspiration
We would like to use a Track and Field theme for this Kudos, potentially a form of a relay race, with a baton being handed off. If the Kudos features people, we would like to ensure that it features non-white

[2019-06-24 17:10] owocki commented on #246
@MladenPetronijevic can you work on this?

[2019-06-24 17:13] owocki commented on #245
@MladenPetronijevic can you work on this?

[2019-06-24 17:43] MladenPetronijevic commented on #246
@owocki sure thing, i can give it a try tomorrow during the day

[2019-06-24 17:44] MladenPetronijevic commented on #245
@owocki sure, im hyped for this one :D

[2019-06-25 04:36] Ali8668 opened #247 "aliiiii8668@gmail.com"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-06-25 04:38] Ali8668 opened #248 "aliiiii8668@gmail.com"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-06-25 17:50] #248 closed

[2019-06-25 17:50] #247 closed

[2019-06-26 12:22] MladenPetronijevic commented on #246
![Untitled](https://user-images.githubusercontent.com/41165756/60179337-c3ebe100-981d-11e9-8957-c889f669d5f4.png)
could something like this work?

[2019-06-26 16:11] jweliasberg commented on #246
This is looking great thanks! Would it be possible to put some banners in the background? Something like this?

http://www.hufsd.edu/assets/images/2019/january/banner_08b.jpg

Perhaps if there were 2 banners on a fence or in a stadium, one could say "Beyond Blockchain" and the other could have "ConsenSys Labs" along with our logo? I think it would be fine that the arms of the athletes would likely

[2019-06-26 16:28] MladenPetronijevic commented on #246
@jweliasberg Thanks! Sure thing i'll add the banners right away

[2019-06-26 16:46] MladenPetronijevic commented on #246
![Untitled](https://user-images.githubusercontent.com/41165756/60198744-9f563000-9842-11e9-9bc2-1facec6ae492.png)

[2019-06-26 17:08] jweliasberg commented on #246
This looks awesome! Thanks! @owocki what next steps do we need to do? I just want to confirm that GitCoin will be sending these Kudos out to our participants?

[2019-06-26 17:20] owocki commented on #246
@jweliasberg i just need the following metadata filled out to mint the kudos.

[code]

@vs77bb how were you planning on sending out the kudos?  via airdrop functionality?

[2019-06-26 19:08] EtherDotBlue opened #249 "MythX Beta User Kudos"
# Timeline
Hi, Kevin sent me over. :-)  We are in Beta now, so the 3 week window is OK

# Title
MythX Beta Champs

# Design Inspiration
MythX site:  https://mythx.io/
https://imglogy.com/tag/FinalFantasyBraveExviusGlobal
Maybe something about security or protection or a force field.  Our name came from Final Fantasy and our Beta testers went through battle with us with a MythX sword and shield etc

[2019-06-26 19:28] owocki commented on #249
@MladenPetronijevic can u hook it up

[2019-06-26 19:42] MladenPetronijevic commented on #249
Hello! Thanks
sure thing i'll give it a try

[2019-06-27 10:27] MladenPetronijevic commented on #249
![Untitled](https://user-images.githubusercontent.com/41165756/60259185-f60d4980-98d6-11e9-9a37-a819ee52fc22.png)
could something like this work?

[2019-06-27 19:55] jweliasberg commented on #246
@owocki @vs77bb I just updated the metadata (as much as I could) in the original post. Thanks!

[2019-06-27 21:04] EtherDotBlue commented on #249
Yes, very nice!

Can we have it sat MythX Beta Champs somewhere?

Maybe have the “M” be a darker bolder shade of blue?  This color:

From: MladenPetronijevic <notifications@github.com>
Sent: Thursday, June 27, 2019 3:28 AM
To: gitcoinco/kudosbadges <kudosbadges@noreply.github.com>
Cc: Tom Lindeman <tom.lindeman@consensys.net>; Author <author@noreply.github.com>
Subject: Re: [gitcoinco/kudosbadges]

[2019-07-03 17:15] EtherDotBlue commented on #249
Ping, just wanted to make sure you saw my comments on the version with a slight color change.

We are also going to need a badge, that may not necessarily be a hexagon, but that is a certification badge for contracts that have passed certain level of MythX analysis.  We call it "DeepScan(tm) Certified".   Imagine this showing up next to contracts in the UI of EthStats or Amberdata, so it should be

[2019-07-03 21:52] MladenPetronijevic commented on #249
hi @EtherDotBlue sorry for the delay, i got a bit carried away by other stuff
![Untitled](https://user-images.githubusercontent.com/41165756/60627172-912d8400-9ded-11e9-899b-f5b85a73fb6b.png)

[2019-07-03 21:58] MladenPetronijevic commented on #249
sure thing i can give it a try with the badge

by the way is the symbol inside the circle M that should have it's color changed, also i cant see the color reference not sure why

[2019-07-04 02:07] EtherDotBlue commented on #249
You can see the reference color here:  https://mythx.io/

No need to change the color of the M in the text around the edge. 😊

From: MladenPetronijevic <notifications@github.com>
Sent: Wednesday, July 3, 2019 2:58 PM
To: gitcoinco/kudosbadges <kudosbadges@noreply.github.com>
Cc: Tom Lindeman <tom.lindeman@consensys.net>; Mention <mention@noreply.github.com>
Subject: Re: [gitcoinco/kudosbadges] Myt

[2019-07-05 12:01] junior221 opened #250 "Angel"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-07-05 15:47] owocki commented on #250
doesnt have a down payment, closing.

[2019-07-05 15:47] #250 closed

[2019-07-07 11:55] junior221 opened #251 "niger"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-07-07 18:24] EtherDotBlue commented on #249
Yes, the M inside the circle, not on the edge. :-)

[2019-07-07 19:24] #251 closed

[2019-07-09 17:51] MladenPetronijevic commented on #249
![Untitled](https://user-images.githubusercontent.com/41165756/60911222-fb797500-a282-11e9-8e22-a33efef96c89.png)

[2019-07-10 12:04] MladenPetronijevic commented on #228
![Untitled](https://user-images.githubusercontent.com/41165756/60967696-9160de80-a31b-11e9-92f4-5f28ed6c5fc9.png)
something like this :D @owocki

[2019-07-10 13:15] owocki commented on #228
amazing

[2019-07-10 13:15] MladenPetronijevic commented on #204
![Untitled](https://user-images.githubusercontent.com/41165756/60971939-8612b080-a325-11e9-8216-62467a49aa23.png)
@owocki

[2019-07-10 13:15] owocki commented on #228
svg pls?

[2019-07-10 13:16] owocki commented on #204
looks great, pls attach teh svg!

[2019-07-10 16:12] MladenPetronijevic commented on #228
[meme_warrior.zip](https://github.com/gitcoinco/kudosbadges/files/3378435/meme_warrior.zip)

[2019-07-10 16:12] MladenPetronijevic commented on #204
[doge.zip](https://github.com/gitcoinco/kudosbadges/files/3378439/doge.zip)

[2019-07-10 18:24] owocki commented on #246
@MladenPetronijevic can i have the svg pls

[2019-07-10 18:24] #217 closed

[2019-07-10 18:25] owocki commented on #241
@MladenPetronijevic did you see this? ^^

[2019-07-10 19:36] EtherDotBlue commented on #249
This is perfect - well done!  Can you pint me in the right direction for the next steps on creating these and distributing 1000 of them?

[2019-07-10 20:10] owocki commented on #249
ill mint them later this week

[2019-07-11 08:03] MladenPetronijevic commented on #241
@liathoffman sounds good to me, any ideas how to turn the ASCII text into vector? i can do it if you have high res image or .png of the text only

[2019-07-11 08:06] MladenPetronijevic commented on #246
[labs_beyonde_blockchain.zip](https://github.com/gitcoinco/kudosbadges/files/3380873/labs_beyonde_blockchain.zip)

[2019-07-11 08:08] MladenPetronijevic commented on #218
[oracle.zip](https://github.com/gitcoinco/kudosbadges/files/3380884/oracle.zip)

[2019-07-11 13:39] liathoffman commented on #241
+Vincent Drayne <vincent@weareany.com>  looping in Vince to answer your
question.  Also Vincent, can we please have a high res version of the kudo
with the red ribbon?

On Thu, Jul 11, 2019 at 11:03 AM MladenPetronijevic <
notifications@github.com> wrote:

[2019-07-11 19:56] liathoffman commented on #241
Hi Liat,
I’ve updated this folder <https://www.dropbox.com/sh/x8uah4vo4taq5ae/AABH281Z3Y03Tnj9xsRtYibha?dl=0> to contain hi res and vector files. I also included the source ascii text, just in case.
As for vectorizing, I just flattened the Ascii design in Figma, but if the work is being done in illustrator you can go to object > expand, and if the work is being done in photoshop you can click the

[2019-07-12 08:53] liathoffman commented on #241
Awesome, thanks!

On Thu, Jul 11, 2019 at 10:56 PM Vincent Drayne <vincent@weareany.com>
wrote:

[2019-07-12 10:58] MladenPetronijevic commented on #241
thanks for the files,
should it look like this?
![Untitled](https://user-images.githubusercontent.com/41165756/61123467-b2087000-a4a4-11e9-8893-e37fc7f979a5.png)

[2019-07-12 13:16] owocki commented on #241
hey guys, im going to mint a batch of kudos today... can i have the svg for this?  if not can mint next week

[2019-07-12 18:04] owocki commented on #246
here ya go https://gitcoin.co/kudos/4279/beyond_blockchain_relay_kudos

[2019-07-12 19:39] owocki commented on #249
@MladenPetronijevic can i has the svg pls?

[2019-07-12 19:44] MladenPetronijevic commented on #249
[mythx_beta_champs.zip](https://github.com/gitcoinco/kudosbadges/files/3387801/mythx_beta_champs.zip)

[2019-07-12 19:57] owocki commented on #204
live at https://gitcoin.co/kudos/marketplace/

[2019-07-12 19:57] owocki commented on #218
live at https://gitcoin.co/kudos/marketplace/

[2019-07-12 19:57] owocki commented on #228
live at https://gitcoin.co/kudos/marketplace/

[2019-07-12 19:59] owocki commented on #249
live at https://gitcoin.co/kudos/marketplace/ - thank you much @EtherDotBlue

[2019-07-15 10:19] MladenPetronijevic commented on #245
![Untitled](https://user-images.githubusercontent.com/41165756/61209710-c47be700-a6fa-11e9-87e3-803215cf59ea.png)
@danlipert could something like this work?

[2019-07-15 15:01] danlipert commented on #245
@MladenPetronijevic Amazing! This is perfect!

[2019-07-23 14:08] aly0692 opened #252 "Eth"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-07-23 15:32] #252 closed

[2019-07-28 14:08] Ali8668 opened #253 "aliiiii8668@gmail.com"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-07-29 02:34] #253 closed

[2019-07-31 09:04] Swader opened #254 "Typo in description"
[Vyper pro](https://gitcoin.co/kudos/1425/vyper_pro) has a typo - `languge` vs `language`.

[2019-07-31 15:32] owocki commented on #254
fixed, thanks for letting me know!

[2019-07-31 15:32] #254 closed

[2019-08-06 13:04] liathoffman commented on #241
Hi Vince,
Regarding the kudo - can we have an svg for the png named ‘GitCoin HiRes
Color.png’ ?
Thanks!!
Liat

On Thu, Jul 11, 2019 at 10:56 PM Vincent Drayne <vincent@weareany.com>
wrote:

--
[image: logo]

Liat Hoffman

spacemesh.io

[2019-08-06 17:45] michaelsena opened #255 "3Box Social Butterfly Kudos"
# Timeline
ASAP (@owocki)

# Title
3Box Social Butterfly

# Design Inspiration
![3box kudos](https://user-images.githubusercontent.com/5216274/62559527-2ab2e000-b849-11e9-9a8c-98e73c996f28.png)

# Metadata
name: 3Box Social Butterfly
description: You're a social butterfly!
priceFinney (positive integer): 1
artist (github/gitcoin username): michaelsena
numClonesAllowed (positive integer): 250
to_ad

[2019-08-06 18:25] liathoffman commented on #241
Hi Liat, here’s a link! <https://www.dropbox.com/s/8lvu27t1avfxvfz/GitCoin%20HiRes%20Color.svg?dl=0>

--
 <http://www.weareany.com>

[2019-08-06 18:59] liathoffman commented on #241
Awesome, thanks!

On Tue, Aug 6, 2019 at 9:25 PM Vincent Drayne <vincent@weareany.com> wrote:

--
[image: logo]

Liat Hoffman

spacemesh.io

[2019-08-07 01:21] coderberry opened #257 "New Kudo: CodeFund Influencer v1.0"
# Timeline
This week if possible (used for CodeFund promotion - sorry)

# Title
CodeFund Influencer v1.0

# Design Inspiration
See PR at https://github.com/gitcoinco/kudosbadges/pull/256

# Metadata
See PR

# Down Payment
Internal Gitcoin

# Gen0 Owner Address
coderberry.gitcoin.eth

[2019-08-07 02:04] avive commented on #241
@owocki - Kevin, can we please set the Kudo per the last svg shared via dropbox?

[2019-08-07 02:55] vs77bb opened #258 "AdEx Kudos"
# Timeline

# Title

AdEx Unicorn

# Design Inspiration

https://drive.google.com/drive/u/0/folders/1O2aUyHlqrKXN-v9u_h_HphqKejip_j7Q
![image](https://user-images.githubusercontent.com/23297747/62591239-f701a580-b89c-11e9-961a-4b9ec84bce50.png)

Unicorn from AdEex Website

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-08-07 03:01] vs77bb opened #259 "bZx Kudos"
# Timeline

Maybe by Monday, August 12th? Would like to get to sponsors by 8/14 latest.

# Title

# Design Inspiration

https://bzx.network/ (Website)

![bzx](https://user-images.githubusercontent.com/23297747/62591513-ba827980-b89d-11e9-9e57-4253faeccac8.jpeg)

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-08-07 03:08] vs77bb opened #260 "Fluence Kudos"
# Timeline

Maybe by Monday, August 12th? Would like to get to sponsors by 8/14 latest.

# Title

(In)Fluence(r)

# Design Inspiration

https://fluence.network/

![Blue logo](https://user-images.githubusercontent.com/23297747/62591856-04b82a80-b89f-11e9-96d9-a0b641cba697.png)

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-08-07 13:58] owocki commented on #241
sure ill mint it soon.    is the metadata in the issue desc all correct?  mind if i correct this typo? "Your are a Spacemesh.. "

[2019-08-07 16:38] #257 closed

[2019-08-07 23:09] avive commented on #241
Yes, good catch - 'you are a...'

[2019-08-12 19:21] michaelsena commented on #255
@owocki following up here! any update on an ETA? we're thinking of releasing a new social feature tomorrow and it would be great to have these as a reward for engaging with that.

[2019-08-12 20:48] owocki commented on #255
hey @michaelsena i am OOO right now.  can someone @gitcoinco/engineers help here?  (instructions to mint are here => https://github.com/gitcoinco/web/commit/c258716974872e1bf15c6188d85c71f091928a60 )

@michaelsena do you need the kudos minted by tomorrow, or an airdrop link, or both?  given the short timeline it just affects how we do this

[2019-08-14 14:10] MladenPetronijevic commented on #260
[fluence.zip](https://github.com/gitcoinco/kudosbadges/files/3501732/fluence.zip)

[2019-08-14 14:10] MladenPetronijevic commented on #259
[bzx.zip](https://github.com/gitcoinco/kudosbadges/files/3501733/bzx.zip)

[2019-08-14 14:10] MladenPetronijevic commented on #258
[adex.zip](https://github.com/gitcoinco/kudosbadges/files/3501735/adex.zip)

[2019-08-15 00:06] michaelsena commented on #255
Hey Kev! So at a minimum I think we want to have the Kudos minted so we can at least send them to people even if it's manual. An airdrop link would be even better if possible, but that's a nice to have.

How does the airdrop work? Would I create links for addresses and only that address could claim it? @owocki

[2019-08-15 15:42] owocki commented on #255
looks like no one has tackled this yet. let me do it now.

[2019-08-15 15:43] owocki commented on #255
@michaelsena do you have an svg version of the asset perchance?

[2019-08-15 15:51] owocki commented on #255
kudos is minted at https://gitcoin.co/kudos/4437/3box_social_butterfly -- thanks for your patience @michaelsena !

[2019-08-15 15:52] owocki commented on #255
to answer your questions about airdrops... they are just a link you can pass around to let people redeem themselves (without you have to send many times).  you can create one at https://gitcoin.co/kudos/send/?id=4437 (just select 'anywhere' )

[2019-08-22 10:55] Lenkla opened #261 "Dai Kudos Friday! :)"
# Timeline
@owocki it is short notice but if this week you could put a simple Dai Kudo out that would be amazing!

# Title
Dai Kudos

# Design Inspiration
https://github.com/makerdao/Overview-of-MakerDAO-design/tree/master/DAI

# Metadata
https://makerdao.com
https://alpha.kickback.events/event/0x0fdcc441854738e8579a479ca5dca86e147165f4

[2019-08-23 11:07] owocki commented on #261
https://gitcoin.co/kudos/4536/dai

image will show up in a sec once this deploy goes out

[2019-08-23 12:51] #261 closed

[2019-08-27 17:59] kuhnchris opened #262 "Ethereal Blocks Hackathon Kudos"
# Timeline
( @owocki ) ASAP for the hackathon

# Title
* Ethereal Blocks - I participated! (Start Work Kudos)
* Ethereal Blocks - Goaaaaal! (Submission Kudos)

# Design Inspiration
Use some funky spacy design. Yellowish as the eth-blocks logo, maybe incorporate it? Up to you.
[Logo](https://i1.wp.com/hackathons.gitcoin.co/wp-content/uploads/2019/08/ethereal_blocks2.png?resize=1024%2C402&ssl=1)

#

[2019-08-27 18:54] kuhnchris opened #263 "Ethereal Blocks Sponsor Kudos"
# Timeline
( @owocki ) ASAP for the hackathon

# Title
* Ethereal Summit (Ethereal Blocks)
* Gitcoin (Ethereal Blocks)
* Ethereum Foundation (Ethereal Blocks)
* Airswap (Ethereal Blocks)
* Bancor (Ethereal Blocks)
* Portis (Ethereal Blocks)
* eToro (Ethereal Blocks)
* GoodDollar (Ethereal Blocks)
* eToroX (Ethereal Blocks)
* Fortmatic (Ethereal Blocks)
* Status.IM (Ethereal Blocks)

# Design Inspi

[2019-08-28 11:16] MladenPetronijevic commented on #262
![Untitled](https://user-images.githubusercontent.com/41165756/63851172-fdfc6f00-c995-11e9-8a55-88758fbe6876.png)
@kuhnchris could something like this work?

[2019-08-28 12:30] kuhnchris commented on #262
yeah, that looks like a good idead, i like it.

[2019-08-29 13:16] MladenPetronijevic commented on #263
![Untitled](https://user-images.githubusercontent.com/41165756/63943439-f4473a00-ca6f-11e9-83c0-ae1800d8b714.png)

[2019-08-29 14:24] kuhnchris commented on #263
@vs77bb please check!

Looks great @MladenPetronijevic !

[2019-08-29 14:29] owocki commented on #263
so dope!

we also need the kudos.yaml info filled out to mint these.. who want to write that copy / submit that PR?

[2019-08-29 14:32] kuhnchris commented on #263
You mean the duplicates áka
[code]

etc.?

[2019-08-29 14:35] owocki commented on #263
yeah, just having something i can paste into `kudos.yaml` would be great.

[2019-08-29 14:35] owocki commented on #263
@MladenPetronijevic can you post the svgs pls?

[2019-08-29 15:57] vs77bb commented on #262
wording wise -- maybe 'Hacker' instead of Participated' ?

I like Goooaaallll :D (for work submitted)

can we have one more for winning?

[2019-09-01 07:09] prathyusha333 opened #265 "Cryptis"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-09-01 13:17] owocki commented on #265
pls re-open if youve filled out hte template

[2019-09-01 13:17] #265 closed

[2019-09-03 12:08] MladenPetronijevic commented on #263
[sponsor kudos.zip](https://github.com/gitcoinco/kudosbadges/files/3569331/sponsor.kudos.zip)
@owocki

[2019-09-04 17:43] owocki commented on #262
@MladenPetronijevic can u please update and send the svgs pls?

[2019-09-04 17:44] owocki commented on #241
file is https://www.dropbox.com/s/8lvu27t1avfxvfz/GitCoin%20HiRes%20Color.svg?dl=0 right? lets get it minted

[2019-09-06 16:54] danlipert commented on #241
@owocki whats the actual to_address for this one? you can shoot me a DM

[2019-09-06 16:55] danlipert commented on #262
@MladenPetronijevic hit me up with the SVGs when you get a chance

[2019-09-06 19:31] owocki commented on #241
@danlipert its listed on the ticket desc under "Gen0 Owner Address"

[2019-09-09 14:06] MladenPetronijevic commented on #241
[spacemesh.zip](https://github.com/gitcoinco/kudosbadges/files/3590899/spacemesh.zip)

[2019-09-09 14:07] MladenPetronijevic commented on #262
[eth blocks kudos.zip](https://github.com/gitcoinco/kudosbadges/files/3590905/eth.blocks.kudos.zip)

[2019-09-23 20:13] owocki opened #266 "devcon kudos for catalyst"
https://drive.google.com/drive/u/1/folders/1nu_PGOXGjwHHIolNSJ-maraCNDon7bK5

[2019-09-23 23:50] ChainSafeSystems opened #267 "Mentor Kudos for ETHWaterloo"
# Timeline

If possible we would love to have it for ETHWaterloo.

# Title

ETHWaterloo Mentor!

# Design Inspiration

Honestly the only thing that would be nice to have is a maple leaf =D

# Metadata

[code]

# Down Payment

Will update this tomorrow!

# Gen0 Owner Address

0x37b347ee521649b60275ba6fB63670fe7f77a0Fa

[2019-09-26 19:15] connoroday opened #268 "Algorand Kudos"
# Timeline

By Tuesday 10/1 would be ideal - 10/4 latest
# Title

Algorand - Road to Devcon

# Design Inspiration

https://res.cloudinary.com/startup-grind/image/upload/c_fill,f_auto,g_center,q_auto:good/v1/softlayer0/80135C1/media/v1/AUTH_d0619b05-07fc-49f0-8249-da585ea45ce5/algorand/contentbuilder/C_Algorand-Event-Thumbnail-400x400_EjNd7dj.png

https://icodrops.com/wp-content/uploads/2018/03/Alg

[2019-09-26 19:21] connoroday opened #269 "ConsenSys Grants Kudos"
# Timeline

By Tuesday 10/1 would be ideal - 10/4 latest
# Title

ConsenSys Grants - Road to Devcon

# Design Inspiration

https://miro.medium.com/max/8000/1*2f0rV3UDSCRW1s_x0siHxw.png

https://pages.consensys.net/hubfs/consensys-logo-blue-1.png

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-09-26 19:28] connoroday opened #270 "Road to Devcon Judges"
# Timeline

By Tuesday 10/1 would be ideal - 10/4 latest

# Title

Road to Devcon Judges

# Design Inspiration

Anything with the Road to Devcon logo with Judging imagery

http://bits.owocki.com/4c70cd6f6199/Screen%20Shot%202019-09-25%20at%2012.59.47%20PM.png

http://bits.owocki.com/603f937aacd1/Screen%20Shot%202019-09-25%20at%201.01.11%20PM.png

# Metadata

[code]

# Down Payment

# Gen0 Owner Ad

[2019-09-26 19:31] owocki commented on #270
do me a flavor and drag these to https://github.com/gitcoinco/kudosbadges/projects/1 'frontburner' column..  i use that github project to track the kudos creation

[2019-09-26 19:33] connoroday commented on #268
Requested by @vs77bb - @MladenPetronijevic @owocki I wasn't sure what to put for Gen0 owner address but let me know if I'm forgetting anything :)

[2019-09-26 19:33] connoroday commented on #269
Requested by @vs77bb - @MladenPetronijevic @owocki I wasn't sure what to put for Gen0 owner address but let me know if I'm forgetting anything :)

[2019-09-26 19:35] connoroday commented on #270
@owocki will do now

Requested by @vs77bb - @MladenPetronijevic I wasn't sure what to put for Gen0 owner address but let me know if I'm forgetting anything :)

[2019-09-26 20:04] owocki commented on #268
just leave it blank and itll default to 'owned by gitcoin'

[2019-10-26 19:32] ososco commented on #98
![kudos_bronze](https://user-images.githubusercontent.com/23085140/67624955-68b81280-f840-11e9-8d98-971383e2b8a0.png)

Bronze medal

[2019-10-26 19:32] ososco commented on #99
![kudos_silver](https://user-images.githubusercontent.com/23085140/67624964-871e0e00-f840-11e9-923a-f9321677a400.png)

Silver medal

[2019-10-26 19:33] ososco commented on #81
![kudos_gold_kudos](https://user-images.githubusercontent.com/23085140/67624970-9735ed80-f840-11e9-9b15-edb44c7116f1.png)

Gold medal

[2019-10-28 03:42] owocki commented on #81
thanks !

[2019-11-01 14:41] arminius3 opened #272 "tirol"
![360px-Empress_Elisabeth_of_Austria_in_dancing-dress,_1865,_Franz_Xaver_Winterhalter](https://user-images.githubusercontent.com/56484910/68032374-dee3cb80-fcbd-11e9-9723-0cfda815541c.jpg)

# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-11-01 14:43] #272 closed

[2019-11-01 19:42] psphilippe opened #273 "Philippe"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-11-01 19:43] #273 closed

[2019-11-06 12:34] liathoffman commented on #241
Was this added to our account?

On Mon, Sep 9, 2019 at 5:06 PM MladenPetronijevic <notifications@github.com>
wrote:

--
[image: logo]

Liat Hoffman

spacemesh.io

[2019-11-06 12:45] avive commented on #241
Guys - I can't find this Kudo - tried
https://gitcoin.co/kudos/marketplace?q=spacemesh
How can I give it to a contributor via gitcoin?

On Wed, Nov 6, 2019 at 2:34 PM liathoffman <notifications@github.com> wrote:

[2019-11-06 13:52] danlipert commented on #241
@avive @liathoffman Apologies - We launched self-service kudos recently which you can find here: https://gitcoin.co/kudos/new and create it yourself - let me know if you have any issues with it, thanks!

[2019-11-06 14:06] owocki commented on #241
sorry for the slow responses on this guys. a big reason we launched self service was so that we could automate the creation of kudos + they wouldnt drop anymore.  just submit via the form dan sent and we'll get it minted in no time

[2019-11-13 11:26] avive commented on #241
We have submitted the kudos today - can you please approve it quickly? We'd like to tip 3 contributors and give it to them. thanks!

[2019-11-14 00:10] owocki commented on #241
this is live now https://gitcoin.co/kudos/5191/spacemesh_top_contributor

On Wed, Nov 13, 2019 at 3:26 AM Aviv Eyal <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <h

[2019-11-21 07:08] liathoffman commented on #241
Thank you!!

On Thu, Nov 14, 2019 at 2:10 AM Kevin Owocki <notifications@github.com>
wrote:

--
[image: logo]

Liat Hoffman

spacemesh.io

[2019-11-28 17:32] sultankevin opened #274 "Make my own"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2019-11-28 17:32] #274 closed

[2020-01-08 23:53] gwmccubbin opened #275 "Dapp Univeristy: Blockchain Mastery University""
@owocki Just following up re our conversation. I'm trying to create an NFT badge for "Blockchain Mastery University" a la Gitcoin kudos. 🙏Thanks!!

# Timeline
January 20, 2019

# Title
Blockchain Mastery University

# Design Inspiration
This NFT badge is for members of my new program "Blockchain Mastery University". I would like to include my logo on this badge:

https://www.dropbox.com/s/yymrizbf

[2020-01-08 23:53] gwmccubbin opened #276 "Dapp Univeristy: "Blockchain Mastery University" NFT Badge"
@owocki Just following up re our conversation. I'm trying to create an NFT badge for "Blockchain Mastery University" a la Gitcoin kudos. 🙏Thanks!!

# Timeline
January 20, 2019

# Title
Blockchain Mastery University

# Design Inspiration
This NFT badge is for members of my new program "Blockchain Mastery University". I would like to include my logo on this badge:

https://www.dropbox.com/s/yymrizbf

[2020-01-08 23:58] owocki commented on #276
well get right on these!

[2020-01-09 13:58] MladenPetronijevic commented on #275
![Untitled](https://user-images.githubusercontent.com/41165756/72073587-7e41c200-32f0-11ea-9b75-3cdd240df7a8.png)
@gwmccubbin hi, could something like this work?

[2020-01-09 19:04] gwmccubbin commented on #275
@MladenPetronijevic I love the first impression! Any chance I can see what it looks like without the wings behind the logo?

[2020-01-09 19:10] gwmccubbin commented on #275
@MladenPetronijevic ... and maybe increase the logo size if the wings go away?

[2020-01-10 11:03] MladenPetronijevic commented on #275
![Untitled](https://user-images.githubusercontent.com/41165756/72148466-29aa4f80-33a1-11ea-889e-b8afaf1f863a.png)
sure thing

[2020-01-10 22:52] gwmccubbin commented on #275
@MladenPetronijevic That's perfect! Let's roll with the 2nd version.

What do we need to do to close this out?

cc: @owocki

[2020-01-13 02:52] owocki commented on #275
@MladenPetronijevic post the SVG pls!

from there submit it at https://gitcoin.co/kudos/new and we'll get it minted within a day or two!

[2020-01-14 20:32] MladenPetronijevic commented on #275
[blockchain_mastery_university.zip](https://github.com/gitcoinco/kudosbadges/files/4061326/blockchain_mastery_university.zip)

[2020-01-14 21:16] owocki commented on #275
@gwmccubbin wanna upload to https://gitcoin.co/kudos/new with the title/desc you want and we'll get it up soon!

[2020-01-17 19:33] owocki commented on #276
@MladenPetronijevic hows this going?

[2020-01-19 12:12] MladenPetronijevic commented on #276
[blockchain_mastery_university.zip](https://github.com/gitcoinco/kudosbadges/files/4082637/blockchain_mastery_university.zip)

[2020-01-19 12:13] MladenPetronijevic commented on #276
@owocki is it this one?

[2020-01-20 22:59] gwmccubbin commented on #276
Looks good to me. Thanks guys!

[2020-01-21 11:31] cristine2114 opened #277 "Kudostine"
# Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2020-01-21 11:33] cristine2114 opened #278 "Tinetine21"
Timeline

# Title

# Design Inspiration

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2020-01-21 21:34] Ianfinn1994 opened #279 "error Fail with error 'The number of Kudos clones requested exceeds the number of clones allowed'"
I am new to gitcoin and open source and I have recently been collecting Kudos and successfully saved two of them in my coinbase ERC app wallet. When i tried to send more kudos i relieved an error when i tried to receive my rewards.  The error was on etherscan.

[2020-01-22 00:29] owocki commented on #279
which kudos was it?

[2020-01-22 00:30] owocki commented on #279
and where did u get the link? quests?

[2020-01-22 00:33] Ianfinn1994 commented on #279
Yes i had received the link for quests. I believe it was for the bdfl kudos and i had sent it to my proper Ethereum address, and still have not received it. Also i just completed te Cellarius Universe Guide and have not received the kudos or the 0.5 eth.

[2020-01-22 00:36] owocki commented on #279
theres no 0.5 ETH reward for completing the Universe Guide as far as I know.

On Tue, Jan 21, 2020 at 7:33 PM @Odysseus1 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-01-22 00:41] Ianfinn1994 commented on #279
Sorry Kev, I meant 0.4. It was appearing on my kudos screen and it was replicating itself but was never credited to my wallet or to my collected Kudos. By replicating I mean it was popping up in multiple instances like other separate kudos. It did this about 6 times.

https://gitcoin.co/kudos/174/diamond

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Kevin Ow

[2020-01-22 13:43] itsencrypted opened #280 "Meetup ETH Devs Sao Paulo"
# Timeline

# Title

# Design Inspiration: The Ethereum logo, but the main middle diamond with the middle diamond of the brazilian flag.

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2020-01-22 21:51] owocki commented on #280
thanks - do u want us to design this?  open to making the down payment?

[2020-01-23 01:59] itsencrypted commented on #280
how much is the down payment for the project, please?

[2020-01-23 13:02] owocki opened #281 "blue steel"
# Timeline

# Title

# Design Inspiration

https://www.google.com/search?q=blue+steel+zoolander&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjb7vGD5JnnAhUBwFkKHdHrCacQ_AUoAXoECAsQAw&biw=1645&bih=846#imgrc=k3eB7HztmrT1wM:

# Metadata

[code]

# Down Payment

# Gen0 Owner Address

[2020-01-26 15:40] tweetious opened #282 "Kudos badges not appear in ETH addy."
The last 3 Kudos that I received, seems to get stuck. In my "Kudos" section, when I click on the specific Kudos, at the backside, instead of the "tx in etherscan" link, there is a "pending_celery" link.

Although I can see them to my account (that I received them), they did not arrive in my ETH wallet

[2020-01-27 07:09] tweetious commented on #282
I observed that the specific kudos are now removed from my kudos list (in my account), but I can still see that I received them, in my activity tab. (+ no kudos in my ETH wallet yet.)

[2020-01-28 06:01] owocki commented on #280
its the amount in the issue template. 0.5 eth

[2020-01-28 13:00] itsencrypted commented on #280
Oh..excuse me then...I don't have this funds in the local community to raise for the logo design. Tks for clarifying. No need to develop it further. I'll close the issue.

[2020-01-28 13:00] #280 closed

[2020-01-29 21:06] owocki commented on #282
hmmmm looks like they are lost somewhere between the web interface and celery https://gitcoin.co/_administrationkudos/bulktransferredemption/?redeemed_by=24986

im gonna write a job that can resubmit them to celery.. meantime @androolloyd and i need to figure out how they're getting lost to fix it twice

but fear now; we will make sure u get your kudos @tweetious

[2020-01-30 02:40] EtherDotBlue opened #284 "MythXperts - Apprentice badge"
# Timeline
Feb 10th in time for ETH Denver

# Title
MythXperts - Apprentice badge

# Design Inspiration
MythXperts - Apprentice badge is the first of a series of three badges for devs who have shown expertise in MythX.  Apprentice, Maven and Master.  We want the blue MythX logo in there in  some way.  We also want them to all be part of a family with similar design.  It can be Japanese, space rela

[2020-01-30 04:34] owocki commented on #284
@MladenPetronijevic can u hook it up

[2020-01-31 22:03] tweetious commented on #282
+1 more that got lost

https://gitcoin.co/kudos/112/shill_colorado

[2020-02-05 18:56] EtherDotBlue commented on #284
@MladenPetronijevic and @owocki getting close now - any news on this one?  I want to make some stickers too if possible.

[2020-02-05 19:53] owocki commented on #284
@MladenPetronijevic bump

[2020-02-06 01:45] oldas1 opened #286 "?"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-02-06 14:37] MladenPetronijevic commented on #284
![Untitled](https://user-images.githubusercontent.com/41165756/73946638-880e1380-48f6-11ea-8469-35679a1a4a21.png)
could something like this work?

[2020-02-06 20:05] EtherDotBlue commented on #284
@MladenPetronijevic Thanks.  This could work.  It needs to say MythXpert instead of MythX though.
  Since there are three levels total and they are named after personas (Apprentice, Maven and Master), I was hoping there could be a cool human (or robot) element in there.  Like these for example.  Possible?
https://gitcoin.co/dynamic/kudos/4282/oracle
https://s.gitcoin.co/static/v2/images/kudos/kend

[2020-02-06 20:58] MladenPetronijevic commented on #284
@EtherDotBlue sure thing, i'll give it a try

[2020-02-07 03:43] MladenPetronijevic commented on #284
![Untitled](https://user-images.githubusercontent.com/41165756/73999240-65b2df00-4964-11ea-8378-5bcc16af5629.png)
@EtherDotBlue something like this?

[2020-02-07 15:02] owocki commented on #282
just put in a fix for this

commit 08166b62b27b06e3d682d4f63baaab886cb2ded0 (HEAD -> stable, origin/stable)
Author: Owocki <ksowocki@gmail.com>
Date:   Fri Feb 7 07:57:53 2020 -0700

    redeem bulk kudos fix

commit 67b264cd78f8d0419394d5f5a88190f0ea28abd0
Author: Owocki <ksowocki@gmail.com>
Date:   Fri Feb 7 07:55:42 2020 -0700

    only run one kudos task at a time

[2020-02-07 15:02] owocki commented on #282
once we verify thisi works ill re-issue you8r kudos @tweetious

[2020-02-07 22:25] EtherDotBlue commented on #284
@MladenPetronijevic @owocki Yes, that will do the trick - thank you so much!  OK, let's get this locked and loaded so we can send these out at ETHDenver when people pass the challenge.  @owocki can you pint me to the latest guide for the distribution options of kudos?

[2020-02-07 22:32] owocki commented on #276
here ya go @gwmccubbin https://gitcoin.co/kudos/10796/blockchain_mastery_university

this is owned by you at 0x6239FF1040E412491557a7a02b2CBcC5aE85dc8F

[2020-02-07 22:32] #276 closed

[2020-02-08 00:00] tweetious commented on #282
Thank you very much. All kudos arrived safe and sound!

[2020-02-08 00:05] owocki commented on #284
@EtherDotBlue  i will mint it for you this weekend.  do you want us to be able to airdrop it?  or do you want to send it manually through Gitcoin's web interface?

[2020-02-08 01:22] EtherDotBlue commented on #284
Thanks @owocki I need to be able to send them out once someone passes the challenge and becomes a MythXpert.  So manual.  Thanks.

[2020-02-08 04:17] owocki commented on #284
@MladenPetronijevic can i have the svg for said kudos?

[2020-02-10 14:50] MladenPetronijevic commented on #284
[mythxpert.zip](https://github.com/gitcoinco/kudosbadges/files/4181416/mythxpert.zip)
@owocki

[2020-02-10 18:08] owocki commented on #284
@MladenPetronijevic looks great but tom wanted 3 badges.. Apprentice, Maven and Master

can u create the maven and master badges?

@EtherDotBlue since the apprentice level is done (see above comment) can u upload it to https://gitcoin.co/kudos/new with the right title/copy/ num clones? (note this is a new tool we created to make kudos minting easier - id submit it for you but i dont know the title

[2020-02-10 18:18] MladenPetronijevic commented on #284
@owocki sure thing

[2020-02-10 20:59] owocki commented on #279
hmm i seem to be able to redeem the kudos so not sure how to reproduce this. https://etherscan.io/tx/0xeb11eaf384371012d9c09b004805be0296912a4db1483538c83b3da82237ac43

ill send you the bdfl / diamond kudos in the meantime

[2020-02-10 21:01] owocki commented on #279
derp.. ok those kudos are sold out.. thats the reaosn.. ill switch the quests over to new rewards then theyll be redeemable

[2020-02-10 21:02] Ianfinn1994 commented on #279
Thank you Kevin! Love you like a brother man. My eth address is 0x3848ce8D9C1287Fd0419334e5f98c0514fcc7221.   Also how do I check if my .eth domain is still mine? I received a collectible from my domain so I assume it works and i checked on blockfi. I love the diamond kudos and look forward to adding it to my collection.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________

[2020-02-10 21:03] owocki commented on #279
any ens resolver can do it.. id recommend pasting it into mycrypto

wanna pick another kudos or two off that store i can send u?

[2020-02-10 21:03] owocki commented on #279
and thanks for the love!!:)

[2020-02-10 21:07] Ianfinn1994 commented on #279
Could I possibly obtain any Cellarius Kudos that you can spare? If only one could I Maybe have foundation. Also maybe one with the Ethereum logo. Please and thank you.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Kevin Owocki<mailto:notifications@github.com>
Sent: Monday, February 10, 2020 3:03 PM
To: gitcoinco/kudosbadges<mailto:kudosbadges@noreply.github.

[2020-02-10 21:43] owocki commented on #279
sure link the kudos pls

On Mon, Feb 10, 2020 at 2:07 PM @Odysseus1 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-02-10 21:48] Ianfinn1994 commented on #279
May I please have this one https://gitcoin.co/kudos/178/foundation and this one https://gitcoin.co/kudos/170/oddjobs.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Kevin Owocki<mailto:notifications@github.com>
Sent: Monday, February 10, 2020 3:43 PM
To: gitcoinco/kudosbadges<mailto:kudosbadges@noreply.github.com>
Cc: @Odysseus1<mailto:Ianfinn1994@outlook.com

[2020-02-10 22:20] Ianfinn1994 commented on #279
I alos had one more question Kevin. I love computer technology and blockchain but I was raised in a family where computers were kept away from me because they were deemed “evil”. As I have gotten older and able to afford my own technology my interest in working for Consensys or some type of company that works with crypto has peaked and I really want to make my mark in the crypto space. I had an id

[2020-02-10 22:46] owocki commented on #279
hey ian; thanks for the ask :) hit me up when u move to boulder ; u should
come out to the boulder blockchain meetup sometime!

also techstars is where i got my start in startups.. would highly recommend
them to anyone starting out on their entrepreneurial journey.

On Mon, Feb 10, 2020 at 3:20 PM @Odysseus1 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

__________

[2020-02-10 23:20] Ianfinn1994 commented on #279
Wow Kevin, I would be honored. I can’t wait to move I’m currently looking for employment and housing in the area right now and am avidly pursuing the potential. I appreciate the love man especially from a celebrity like yourself. You inspire me and the whole Ethereum team as well.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kevin Owocki <notifications@github.

[2020-02-11 02:40] EtherDotBlue commented on #284
@owocki Done - see below.  @MladenPetronijevic I don't think anyone will make it past apprentice at ETHDenver, so no need to rush the other two level.  Thanks again.

Here is the meta data:
name: MythXperts Apprentice
description: MythXperts have shown exceptional skill in using MythX tools to detects vulnerabilities in smart contracts and are on their way to becoming Masters.
artist: Ether Blue
p

[2020-02-11 02:46] MladenPetronijevic commented on #284
![Untitled](https://user-images.githubusercontent.com/41165756/74207754-21d01a80-4c81-11ea-9133-6335e4c09a33.png)

[2020-02-11 02:47] MladenPetronijevic commented on #284
@EtherDotBlue i've just finished these two, let me know if there are any changes needed

[2020-02-11 03:04] owocki commented on #284
@EtherDotBlue https://gitcoin.co/kudos/10852/mythxperts_apprentice

let us know what u think of the ones above too!

[2020-02-11 03:18] EtherDotBlue commented on #284
@owocki Done - see below. @MladenPetronijevic  Oh my - very sexy.  Those will work just fine - thanks!

All the metadata is the same except for:
name: MythXperts Maven
description: MythXperts who have surpassed the Apprentice Level and are wise indeed in the way of automated smart contract security analysis, answering questions and issues in the MythX Forum.

name: MythXperts Masters
description:

[2020-02-11 17:18] owocki commented on #284
@MladenPetronijevic can i has svgs

[2020-02-11 19:05] MladenPetronijevic commented on #284
@owocki
[mythxpert_kudos.zip](https://github.com/gitcoinco/kudosbadges/files/4187719/mythxpert_kudos.zip)

[2020-02-11 19:22] owocki commented on #284
https://gitcoin.co/kudos/10871/mythxperts_masters
https://gitcoin.co/kudos/10875/mythxperts_maven

[2020-02-11 19:22] #284 closed

[2020-03-26 21:35] elliottjobmann commented on #156
@owocki Here is my "ten bounties complete" kudos [PR](https://github.com/gitcoinco/kudosbadges/pull/287)

[2020-04-02 23:47] lixmose opened #288 "hgkg"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-04-03 14:55] anika98677 opened #289 "welcome"
# Timeline

@owocki
# Title

artist
# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-04-15 11:39] artbynelly opened #290 "Kevin, please process ASAP, thank you, Nelly."
# Timeline

@owocki
Kevin please process it ASAP - my Twitter campaign #SpreadHope has been going already for 4 weeks and momentum is crucial
# Title

"Hope"
# Design Inspiration

https://artbynelly.com/wp-content/uploads/2020/04/Hope-by-Nelly-Baksht-24x18-1.jpg

# Down Payment

https://etherscan.io/tx/0x181ec467b1a414efaae608afddf21f74eecec94ed8057f6982f0977dd0c05f3f
# Gen0 Owner Address

0x91e03

[2020-04-15 13:53] owocki commented on #290
thanks @artbynelly do you want us to make this artwork into a kudos, or to make our own artwork inspired by this artwork into a kudos?

[2020-04-15 13:59] artbynelly commented on #290
@owocki
I think if you can just frame it into a badge frame that plays well with your style will work out nice and fast.

[2020-04-15 17:02] owocki commented on #290
@MladenPetronijevic is on it!

[2020-04-16 12:56] MladenPetronijevic commented on #290
[hope.zip](https://github.com/gitcoinco/kudosbadges/files/4487134/hope.zip)

[2020-04-16 13:12] artbynelly commented on #290
Is it final version? @MladenPetronijevic

[2020-04-16 13:17] MladenPetronijevic commented on #290
@artbynelly i've put it into kudos format but i had to vectorize it so it has the white outlines, only way to get rid of those is to redraw the picture since we cant use images for kudos, only vector artworks.

[2020-04-16 13:28] artbynelly commented on #290
@MladenPetronijevic great job! it looks good I am not sure about the frame - color and some artifacts - let me get back to you soon with the color if it make sense to you.

[2020-04-16 15:20] artbynelly commented on #290
@MladenPetronijevic
1. Please make it sure that pigeon is fully visible - cutting it out ruins the entire concept
2. For blue gradients it is preferable to the the colors used at the image
Thank you!

[2020-04-17 09:29] MladenPetronijevic commented on #290
[hope.zip](https://github.com/gitcoinco/kudosbadges/files/4492059/hope.zip)

[2020-04-17 09:31] MladenPetronijevic commented on #290
[hope_2.zip](https://github.com/gitcoinco/kudosbadges/files/4492067/hope_2.zip)

[2020-04-17 14:32] Mpep10 opened #291 "@owocki"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-04-17 15:49] owocki commented on #290
let me know if looks good and we can mint it.  if you upload it to
gitcoin.co/kudos/new we can mint it!

On Fri, Apr 17, 2020 at 3:31 AM MladenPetronijevic <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-17 16:09] #291 closed, assigned to nobody

[2020-04-18 15:13] artbynelly commented on #290
Hi Kevin, the more I look at draft badges the more I understand that this raster image does not work well for badge. It is supposed to be pure vector illustration which pretty rare at fine art.
So let's skip it this time.
Sorry for flipping and thank you for your timely support!
N.

[2020-04-18 16:33] owocki commented on #290
no problem i can return the ETH you sent me
at 0x181ec467b1a414efaae608afddf21f74eecec94ed8057f6982f0977dd0c05f3f if
you want.

On Sat, Apr 18, 2020 at 9:14 AM artbynelly <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.

[2020-04-18 17:01] artbynelly commented on #290
Please do- I will fund the Save the Children grant

[2020-04-20 01:25] owocki commented on #290
heres the return tx
0x1c78f257c38a49dc31d11b05727d62c636799004d3215581e492c12bb372996b

On Sat, Apr 18, 2020 at 11:02 AM artbynelly <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-23 22:58] artbynelly commented on #290
Thank you, Kevin

[2020-04-23 22:58] #290 closed, assigned to nobody

[2020-04-24 09:09] Pedro0401 opened #292 "0xfF047F15E89D3C23644F8c14B859c7782915bD07"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-04-24 09:10] Pedro0401 commented on #292
0x154230ed91d1e711e56b9c0f88b5ba5fd2b0503f

[2020-05-10 21:03] CryptoNNja opened #293 "KUDOS missing in my wallet"
Hi guys, i don't know if i'm at the right place, but i've been using gitcoin for a while now, i like to play quests and earn kudos. Everything went fine until last months. I won two kudos and never received them in my wallet. I never had a problem claiming kudos before. So i don't know what's wrong. Can someone help me please ?

[2020-05-10 22:20] CryptoNNja commented on #293
https://gitcoin.co/kudos/110/bug_squasher
https://gitcoin.co/kudos/2449/falcon_bot

I can see them in the "earning tabs", claimed all but nothing in my eth wallet. Never had an issue with kudos before

[2020-05-11 17:46] owocki commented on #293
thanks. do u know the txids that they were sent to you with perchance?

i know that the ethereum network has gotten more congested lately.. so
maybe thats got something to do with it

On Sun, May 10, 2020 at 4:20 PM CryptoNNja <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.6mm for

[2020-05-12 00:18] CryptoNNja commented on #293
It was like a month ago, i had a problem with my desktop computer, then covid drama... so i was away for a while.I still can see i earned them in my earning tabs but couldn't find the txids. Where can i find it ? TY for your help

[2020-05-17 16:38] mohsin491 opened #294 "Image not shown"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-05-20 12:57] CryptoNNja commented on #293
@owocki can you do something please.. Really would love to be more active on gitcoin, playing quests and learning stuffs. But it sucks if i don't get my kudos. Thank you for your time

[2020-05-20 15:18] owocki commented on #293
without the txids, hard to know what happened. ill send you the kudos again now though :)

[2020-05-20 19:10] CryptoNNja commented on #293
Thank you man :) @owocki

[2020-06-06 12:22] agnelvishal commented on #68
The design inspiration link seems to be broken for me

[2020-06-08 15:21] owocki commented on #68
yes; closing it now

[2020-06-08 15:21] #68 closed

[2020-06-14 12:39] #241 closed

[2020-07-04 17:32] fly9886 opened #295 "gitcoin"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-07-09 14:09] Pedro0401 opened #296 "0x56636C9303Ee6c6F0211e505aDCCA5d18A274160"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-07-09 14:11] #296 closed, assigned to nobody

[2020-07-09 18:39] Pedro0401 commented on #292
New

[2020-07-09 18:40] Pedro0401 commented on #292
Prijekt

[2020-07-12 17:14] fuguefoundation opened #297 "New Kudos Artwork"
# Timeline

About two weeks is fine.

# Title

Fugue Foundation

# Design Inspiration

1. Please use [this logo](https://github.com/fuguefoundation/ff-dapp/blob/master/src/assets/images/logo_1500.png) as the design the kudos. I've seen some of the animated kudos (example [1](https://gitcoin.co/kudos/20556/infinicube), example [2](https://gitcoin.co/kudos/20554/psychedelic_color)) and would like to

[2020-07-13 16:10] owocki commented on #297
@MladenPetronijevic u want this one

[2020-07-13 19:00] MladenPetronijevic commented on #297
@owocki i would take it, but i'm not sure how those animated kudos are made.
maybe the original creator of those kudos could give it a try, if not maybe i could ask him/her how it's made and then try making it

[2020-07-13 22:20] owocki commented on #297
got it ; @l-kh in that case do u want it?

[2020-07-14 12:44] L-KH commented on #297
@owocki , Thanks for inviting me. I am working on it.
@MladenPetronijevic  , I am creating it using SVGator, its online service but you need first to create your full SVG first before import it for animation. I am here for questions.

[2020-07-14 12:52] L-KH commented on #297
@fuguefoundation , Please check those examples and let me know about what do you think.
[FugueFoundation_Kudos.zip](https://github.com/gitcoinco/kudosbadges/files/4918905/FugueFoundation_Kudos.zip)

◉ I use the font "Apparatus SIL" because it seems like the one from the website.
◉ Hexagone color is "0A0A0A" let me know if you want to be changed

[2020-07-14 14:33] fuguefoundation commented on #297
@L-KH examples look good so far, I like the Apparatus SIL font. Let's move the word "Fugue" to the top left part of the hexagon. Thanks1

[2020-07-14 15:49] L-KH commented on #297
@fuguefoundation , which example that seem good to you? idea1 or idea2?

check this one, and let me know for any modifications
[FUGUEFOUNDATION.zip](https://github.com/gitcoinco/kudosbadges/files/4919769/FUGUEFOUNDATION.zip)

[2020-07-14 19:33] fuguefoundation commented on #297
@L-KH Text placement/font looks good in the new version. In terms of animation, I like version 2 from the first group you sent, but with a few small adjustments:
1. Have the F-holes pause longer (about two seconds) for both the F F and when the two Fs cross to form the logo
2. Make the movements (slides, rotations) faster
3. Fast fade in/out of the F at the beginning and end of the animation seque

[2020-07-15 12:03] L-KH commented on #297
@fuguefoundation , can please check this one and let me know if there are any modifications needed.
ps: is this the version 2 that you mentioned?
[FugueFoundation5.zip](https://github.com/gitcoinco/kudosbadges/files/4924960/FugueFoundation5.zip)

here is the timing used:
0.5s movement position
0.5s rotation
0.5s fade-in/out
1.5s pause
0.5s empty

[2020-07-15 13:07] fuguefoundation commented on #297
@L-KH Yes, that's the right version. Let's try this timing and this modification, then it should be good to go:
0.2s first slide movement
3s pause F F
0.2s rotation
5s pause crossed Fs (the original logo)
fade out (so remove the final rotation, slide movement to the right side, just fade out once you create the image of the original logo)

[2020-07-15 16:08] L-KH commented on #297
sorry I am not sure if I really understand what you mean, but can u please check this one !

[FugueFoundation6.zip](https://github.com/gitcoinco/kudosbadges/files/4926392/FugueFoundation6.zip)

here is the timing used
0.5s fade in
0.2s movement position F
3s pause
0.2s rotate
5s pause
0.5s fade out

let me know for any modifications needed

[2020-07-15 16:31] fuguefoundation commented on #297
@L-KH you got it, looks great! One thing though, you changed the font to something different on this one. Please put it back to what it was (Apparatus SIL) and we're done. Great job!

[2020-07-15 17:14] L-KH commented on #297
@fuguefoundation , Oh sorry my bad. I didn't notice the font, you can check this one:
[FugueFoundation7.zip](https://github.com/gitcoinco/kudosbadges/files/4926784/FugueFoundation7.zip)
Thanks

[2020-07-15 18:24] fuguefoundation commented on #297
@L-KH confirmed, thanks! Tagging @owocki as well for situational awareness in case he needs to do something for payment.

[2020-07-15 20:46] owocki commented on #297
if you are happy with the work @fuguefoundation then i can just send @L-KH the $$ u sent me

btw can someone submit a gitcoin.co/kudos/new so i can mint em?

[2020-07-15 21:14] fuguefoundation commented on #297
Thanks @owocki , good to go for payment. I will be submitting the mint request in the next few days.

[2020-07-16 08:59] L-KH commented on #297
received, THank you all.
@fuguefoundation , here is my profile for any future modifications/works: https://gitcoin.co/l-kh
thanks

[2020-07-19 20:49] Pedro0401 commented on #292
Good

[2020-07-19 20:50] Pedro0401 opened #298 "0xfF047F15E89D3C23644F8c14B859c7782915bD07"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-07-19 20:55] Pedro0401 commented on #298
0xfF047F15E89D3C23644F8c14B859c7782915bD07

[2020-07-19 22:03] Pedro0401 opened #299 "0x615f54ea0184294cec00ba6acbd061381161623f"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-08-25 20:18] kedMertens commented on #282
Hello, @owocki, I'm experiencing same behavior, all kudos  have pending_celery link.
Could you take a look and suggest what I can do about it, thanks!

[2020-08-25 20:38] #299 closed, assigned to nobody

[2020-08-25 20:38] #298 closed, assigned to nobody

[2020-08-25 20:39] owocki commented on #282
since the ETH network gas prices have been high, we haven't been broadcasting the txns to the ethereum network, unless the user pays for the gas of them. this is bc we were spending $500/day on broadcasting txns before we made this change, which was unsustainable. the idea is to broadcast them if/when the eth gas prices go lower again.

i think this could probably be made more clear on the product

[2020-08-25 20:42] kedMertens commented on #282
I see, could I pay gas after redeem kudos?

[2020-08-25 20:43] owocki commented on #282
i could probalby hook up a flow that would do that, yes :)

[2020-08-25 20:47] kedMertens commented on #282
That would be great!
Do you need any help with it, maybe I could contribute?

[2020-08-27 00:02] owocki commented on #282
know python?  sure i could use someone to code this UP :)

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Tue, Aug 25, 2020 at 2:47 PM kedMertens <notifications@github.com> wrote:

--

@owocki <http://www.twitter.

[2020-08-27 05:09] kedMertens commented on #282
I do, should we create a separate issue?

[2020-08-28 03:18] owocki commented on #282
sure; that works

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Wed, Aug 26, 2020 at 11:09 PM kedMertens <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

___________________________

[2020-09-13 18:43] kedMertens commented on #282
Came back from holidays, still quite exited to help with paying gas after redeem kudos. Where I should start @owocki ?

[2020-09-14 04:30] owocki commented on #282
i think im going to move all of the kudos over to the xdai chain where the gas prices are low.. just need to code it up.

meantime, just keep sending/ receiving kudos as usual + they will eventually sync

[2020-10-01 09:26] Raghav078 opened #300 "kudos design"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-10-23 04:56] Ahmeddh commented on #102
excuse if it sound stupid, if I submit a kudo design I'll be gaining eth whenever someone minted the kudo on gitcoin or how does this work?

[2020-10-23 17:12] owocki commented on #102
yep thats exactly right!

On Thu, Oct 22, 2020 at 10:56 PM Ahmeddh <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-24 04:26] Ahmeddh commented on #102
Ummmm!, I'll start by the first bounty badges ([first bounty completed](https://github.com/gitcoinco/kudosbadges/issues/99), [3 bounties completed](https://github.com/gitcoinco/kudosbadges/issues/99) , and [10 bounties completed](https://github.com/gitcoinco/kudosbadges/issues/99) as well)

Because I'm going to mint them if they got approve and that would be more fun, being at both sides of the ch

[2020-11-11 07:37] Teslow commented on #139
Can this be reopened?

Edit: I'm a Music Producer & Graphic Designer. I'm interested to see if this Video Game Kudos can still be Greenlit? And if so, flood me with the deets, I gotchu.💯✌

[2020-11-15 04:11] nathsmaR opened #302 "Kudos plis"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-11-15 12:23] FeroxCanis commented on #156
@owocki Hi is this bounty still available? i'm willing to create kudos. thanks!

[2020-11-16 16:43] owocki commented on #156
no it is now; but there may be other bountie sin the future

On Sun, Nov 15, 2020 at 5:23 AM FeroxCanis <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-17 21:48] FeroxCanis commented on #139
Same here! @Teslow

[2020-11-17 21:53] FeroxCanis commented on #269
- @connoroday i am willing to do the job if it's still on your mind.

[2020-11-24 00:24] elm87an commented on #81
I see that ososco created Gold medal for this project, but it's still on the Todo list over 2 years later.

I took a shot at it using the kudos template and the color guide for the type of Kudos (Subjective, right?)

I also used the picture you provided for design inspiration.

If this project still needs to be completed and if I am allowed to attempt it, please let me know.

Thanks.

[2020-11-24 05:09] nathsmaR opened #304 "Please help me"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-11-24 12:08] Ahmeddh commented on #102
Kindly check this one and find the SVG file in the below link
![opportunity finder](https://user-images.githubusercontent.com/12083118/100365048-9ce3a100-3007-11eb-8dda-f72967b07770.png)
https://github.com/Ahmeddh/Opportunity-finder-Kudo

[2020-12-06 19:33] Ahmeddh commented on #102
@owocki Should I make a version without the logos?

[2020-12-08 01:40] owocki commented on #102
no i think its fine you can submit it

[2020-12-08 12:13] Ahmeddh commented on #102
@owocki I have done so couple days back via this link https://gitcoin.co/kudos/new but now I can't find it in my gitcoin account, let me know if I have to resubmit

Ps: it's my 1st kudo submission, I really appreciate the support you guys are giving toward open source community 🙏🏾

[2020-12-08 21:10] owocki commented on #102
minting it now.

On Tue, Dec 8, 2020 at 5:14 AM Djobs <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-12-09 13:48] Ahmeddh commented on #102
I had to re-submit, I was uploading the wrong svg file

[2020-12-11 19:47] SabbirHussainShakil opened #305 "RishShak"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-12-12 04:05] midaswellhitme opened #306 "Hitmegood"
# Timeline

# Title
hit me good

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-12-13 20:35] BoomJules opened #307 "Kudos Art"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-12-14 22:24] Ahmeddh commented on #102
Did i missed something on the resubmission process? @owocki

[2020-12-18 12:47] zaman10d opened #308 "Researcher developer beginner. Asset account future"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-12-18 12:50] zaman10d commented on #308
No comment.only need assets account moving forward. Future/  withdrawl covid19 breaking down global issues

[2020-12-18 12:50] #308 closed, assigned to nobody

[2020-12-22 23:33] Abeseba opened #309 "ETH-kudus"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-12-23 09:41] YorkSvit opened #310 "Qqq"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2020-12-23 15:20] #310 closed, assigned to nobody

[2020-12-27 13:16] onemoney3 opened #311 "onemoney"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-01-08 12:59] soooofuccckkkkk opened #312 "BTC to the moon"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-01-17 20:01] soooofuccckkkkk commented on #6
Shooting to the moon

[2021-01-17 20:02] soooofuccckkkkk commented on #6
https://github.com/gitcoinco/kudosbadges/projects/1#card-14487765

[2021-01-23 07:30] haho991 opened #313 "kudo"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-01-25 16:19] #313 closed, assigned to nobody

[2021-01-31 02:20] YorkSvit opened #315 "Miii"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-02-20 08:27] Stredium opened #316 "TRY"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-02-20 08:27] Stredium commented on #316
How to use Kurdos with sports fans?

[2021-02-26 16:46] spencersanglim opened #317 "contact address"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-02-28 03:57] tommy8997 opened #318 "Werborg"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-03-02 14:54] tommy8997 opened #319 "Werborg kudos"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-03-03 18:37] #319 closed, assigned to nobody

[2021-03-19 05:41] mateusz76 opened #320 "Bit do freestyle"
# Timeline

# Title free CSS

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-03-20 02:07] 152wmq opened #321 "W"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-03-20 20:15] #320 closed, assigned to nobody

[2021-03-20 20:15] mateusz76 commented on #320
Zamykak

[2021-03-21 19:03] Out-Sider1 opened #322 "Energy/kudos"
Kudos

[2021-03-24 16:22] DreadKnight opened #323 "BIG issues regarding my very first Kudos"
I've made my first Kudos about 9 months ago and I noticed that I'm somehow not properly credited (link not going to my profile), I recall I already made issue on the web repo regarding the crediting bit before. Also, the even weirder thing is that the ETH address changed to the default one for some reason instead of mine (minting process was quite bumpy experience for me at the time).
So I haven't

[2021-03-24 16:36] DreadKnight commented on #323
Seems that Kudos is on two networks, both have wrong ETH address, though only the one on xdai is not crediting me properly (link leading to gitcoin account). Note that I didn't opt in to be rewarded straight up for the Kudos, but to earn myself from the sells.

[2021-04-03 14:58] doubleoroos commented on #269
I like to do this!

[2021-04-08 08:57] giantape opened #324 "Test"
Test Judos

[2021-04-13 12:36] linhhai997 opened #325 "Kulinhkit"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-04-15 12:48] #318 closed, assigned to nobody

[2021-04-16 07:30] AndreyGrin commented on #104
Hey, I've created a kudos for Joseph and it got minted here https://gitcoin.co/kudos/26689/joseph_lubin but for some reason it's not the same as a file I've uploaded, it's lot Joseph image on it! What should I do? :)

[2021-04-16 19:12] owocki commented on #104
resubmit it?

On Fri, Apr 16, 2021 at 1:30 AM Andrii Hrynchuk ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $11.1mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-04-18 03:38] Arkadas12 opened #326 "Kudosbackoffice"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-04-19 11:40] PaulinaParangerHr opened #327 "Swingfair"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-04-19 11:40] PaulinaParangerHr commented on #327
Kudos

[2021-04-20 00:15] #325 closed, assigned to nobody

[2021-04-20 00:22] #327 closed, assigned to nobody

[2021-04-20 00:23] #324 closed, assigned to nobody

[2021-04-20 00:23] #321 closed, assigned to nobody

[2021-04-20 00:24] #326 closed, assigned to nobody

[2021-05-06 19:33] teambunny66 opened #328 "Test"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-05-06 19:33] teambunny66 commented on #328
New comer

[2021-05-21 17:26] praptosoehartono opened #329 "My littlrr Angel"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-05-22 11:22] outdamud opened #330 "outdamud"
[code]

[2021-05-22 11:23] outdamud opened #331 "MetaMask"

[2021-05-23 20:37] iaintait123 commented on #293
Same here no kudos has ever appeared in my wallet  strange

[2021-05-26 11:24] guayou888 opened #332 "nice"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-05-28 14:34] zhjj80 commented on #293
HI, I get the same issue since last 3-4 days, can you help me with it? THX

[2021-05-28 16:08] iaintait123 commented on #293
U need my tx ids?

On Fri, 28 May 2021, 15:34 zhjj80, ***@***.***> wrote:

[2021-06-05 17:14] DaBigwiz16 opened #333 "art work"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-05 17:14] #333 closed, assigned to nobody

[2021-06-11 08:38] redisz opened #335 "Great kudos"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-12 07:28] majajulia opened #336 "Zmajakudo"
# Timeline

# Title

# Design Inspiration

# Gen0 Owner Address

[2021-06-12 08:40] action-oss opened #337 "new baby"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-12 08:41] action-oss commented on #337
new sun is rising

[2021-06-13 14:11] corrine-leo opened #338 "Art-BHLSR"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-13 14:18] fangfang88888 opened #339 "https://github.com/gitcoinco/kudosbadges/issues/new"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-13 16:13] gdjjbxixjf opened #340 "1"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-17 04:38] CryptoCutter opened #341 "0.5 ETH is pretty steep price to create Kudos art, can we change this to a set dollar amount instead?"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-23 01:53] woshishei123haha opened #342 "云数据"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-06-26 11:10] cryptojr opened #343 "test"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-07-20 13:33] PaulinaParangerHr opened #344 "Polygon.better"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-08-01 06:41] dienull06 opened #346 "Potrait of RINGGIT"
![4a43102cee504bcfba36bfa002ce02b6~2](https://user-images.githubusercontent.com/85958893/127761857-9c228c51-12f0-40b9-963f-8616533f7cee.jpeg)

[2021-08-01 06:41] #346 closed, assigned to nobody

[2021-08-04 05:07] Kamiel7 commented on #341
Yes, that is a great idea, I actually,by mistake didn't specify that the price is for a finished price, also the price is not necessarily fixed, as there are many unknowns such as NFT market auction, and or privite listings.
You have given me an idea I must say, we may be able to get a few like minded individuals together and make and sell artworks , advertisment logos etc.

[2021-09-04 13:24] yourmomma2000 commented on #341
is that a steep price for the buyer or the seller? 🤗

[2021-09-04 13:41] yourmomma2000 commented on #340
0

[2021-09-04 21:58] Kamiel7 commented on #341
It's a sale price, make an offer, help a family in need, thanks and
blessings .

On Sat, Sep 4, 2021, 9:25 AM yourmomma2000 ***@***.***> wrote:

[2021-09-10 15:17] LilRed92 commented on #39
No one else is working on this? I'll take it, if not!

[2021-09-19 21:03] ghost opened #347 "MyFirstKudo"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-09-19 21:04] #347 closed, assigned to nobody

[2021-09-22 05:33] Pedro0401 opened #348 "Good"
Good

_Originally posted by @Pedro0401 in https://github.com/gitcoinco/kudosbadges/issues/292#issuecomment-660707017_

[2021-10-09 22:34] Chikwado3 opened #349 "Kudos"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-10-09 22:35] Chikwado3 commented on #349
I'd like kudos to be more popular

[2021-10-20 15:45] H30716 opened #350 "Hello"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-10-22 21:32] MHLoppy opened #351 "Dead links in readme"
The following links in the readme are dead:
- LICENSE (bottom of page, should go to https://github.com/gitcoinco/kudosbadges/blob/master/LICENSE instead)
- Kudos design guide (under "[to create a new Kudos](https://github.com/gitcoinco/kudosbadges#to-create-a-new-kudos)" - link is completely gone with no obvious replacement)

In particular, [other places](https://support.gitcoin.co/kb/article/17-h

[2021-10-26 22:48] Kattparkhurst98 opened #352 "hi"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-11-13 07:34] enyamd opened #353 "来自未来的自己"
# Timeline

2021年
# Title

未来的自己
# Design Inspiration

从未来而来
# Down Payment

0.01
# Gen0 Owner Address

0x3420B866404ab344dd74D8856881f23a1A03b2CE

[2021-11-16 11:26] Benzfc opened #354 "Benzfccr7"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2021-12-07 09:36] enyamd opened #355 "Thinkium"
# Timeline

one day
# Title

Thinkium
# Design Inspiration

Thinkium's LOGO
https://qn-mall.chainopen.cn/%2FImage%2F67918a32-6de0-48c0-a6ad-c69d0bc7054e-origin.jpeg?imageslim
# Down Payment

https://etherscan.io/address/0x55e969fd2988d15573f97c94ca5af703165ddad7
# Gen0 Owner Address

0x3420B866404ab344dd74D8856881f23a1A03b2CE

[2022-01-19 13:36] crucio-009 commented on #267
Hey @owocki, I am new here. How do I get started? I have some great designs in mind!

[2022-01-19 13:36] crucio-009 commented on #186
Hey @owocki, I am new here. How do I get started? I have some great designs in mind!

[2022-01-24 07:19] Dev79844 commented on #351
I would like to work on this.

[2022-02-03 12:15] mehmeterdogan441 opened #356 "hayalet"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2022-02-06 19:11] avikdutta111191 opened #357 "Maharaja"
Contemporary Indian kingdom.

[2022-04-29 06:46] inosgun opened #358 "Inos"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address

[2022-05-23 21:39] 3thanlee070819 opened #359 "3thanlee kudos"
# Timeline

# Title

# Design Inspiration

# Down Payment

# Gen0 Owner Address